@import "vars";
@import 'nib';
@import 'sprite';
@import 'mixins';
@import 'animate.css';

////////////////////////////////////////// MAIN STYLES
html, body {height: 100%}
body {
    margin: 0;
    padding: 0;
    font-family: fontHelveticaLight, Arial, 'PT Sans',sans-serif;
    font-weight: 300;
    font-size: 100%;
    color: black;
    background: #fcebd7 url('../images/bg.jpg') 50% 50% repeat;
}
li {
  list-style none;
}
input,
textarea {
    font-family: fontHelveticaLight, Arial, sans-serif;
    font-weight: 400;
    outline: none;
}

a {
    color: #000;
    transition: color .2s ease-in-out;
    &:visited {color: #000}
    &:hover {color: #000;}
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: normal;
    margin: 0;
    color: inherit;
}

h1 {font-size: 30px}
h2 {font-size: 24px}
h3 {font-size: 20px}
h4 {font-size: 18px}
h5 {font-size: 16px}
h6 {font-size: 14px}

#b-layout {
    position: relative;
    min-height: 100%;
    width: 100%;
    max-width: 1346px;
    min-width: 1260px;
    margin: 0 auto;
    box-shadow: 0 5px 68px rgba(0,0,0,.3);
    background-color: #fff;
}

.b-wrapper {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
}


////////////////////////////////////////// COMMON
////////////////////////////////////////// BUTTON
.b-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    padding: 0;
    background: none;
    outline: none;
}

.b-button_green {
    height: 33px;
    color: #fff;
    font-size: 14px;
    line-height: 33px;
    border-radius: 30px;
    background: #34c263;
    padding: 0 14px;
    background: -moz-linear-gradient(top,  #34c263 0%, #71c54a 100%);
    background: -webkit-linear-gradient(top,  #34c263 0%,#71c54a 100%);
    background: linear-gradient(to bottom,  #34c263 0%,#71c54a 100%);
    transition: background .2s ease-out;
    &:hover {
        background: #32b95c;
        background: -moz-linear-gradient(top,  #32b95c 0%, #66b83f 100%);
        background: -webkit-linear-gradient(top,  #32b95c 0%,#66b83f 100%);
        background: linear-gradient(to bottom,  #32b95c 0%,#66b83f 100%);
    }
}

.b-button_dark_green {
    background: #889800;
    transition: .25s ease-out;
    &:hover {
        background: #758300;
    }
}

.b-button_show {
    position: relative;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 30px;
    font-size: 15px;
    text-decoration: none;
    transition: .25s ease-out;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 17px;
        height: 17px;
        border: 1px solid #000;
        border-radius: 50%;
        margin-top: -3px;
        margin-right: 5px;
        transition: .25s ease-out;
    }
    &:after {
        content: '';
        position: absolute;
        top: -1px;
        bottom: 0;
        width: 5px;
        height: 9px;
        left: 18px;
        margin: auto 0;
        background: sprite1 -17px -15px no-repeat;
        background-size: spriteSize;
        transition: .25s ease-out;
    }
    &:hover {
        background-color: rgba(255,255,255,.25);
        &:before,
        &:after {
            transform: translateX(2px);
        }
    }
}

.b-button_plus {
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 18px;
    font-size: 22px;
    width: 14px;
    height: 14px;
    overflow: hidden;
    color: black;
    line-height: 14px;
}

.b-button_minus {
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 18px;
    font-size: 22px;
    width: 14px;
    height: 14px;
    overflow: hidden;
    color: black;
    line-height: 14px;
}




////////////////////////////////////////// LAYOUT
.b-ib-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 0;
}

.b-ib {
    display: inline-block;
    vertical-align: middle;
}


////////////////////////////////////////// ICONS
.b-icon_hot {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.2);
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 11px;
        height: 17px;
        opacity: .6;
        background: sprite1 -80px 0 no-repeat;
        background-size: spriteSize;
    }
}


////////////////////////////////////////// TABS
.b-tabs-content {
    display: none;
    &.active {
        display: block;
    }
}


////////////////////////////////////////// TITLE
.b-title_h4 {
    font-size: 18px;
}


input[type="text"].b-form-control {
    font-size: 14px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 8px 10px;
    width: 100%;
}



.b-custom-select {
    .selectize-input {
        box-shadow: none;
        border: 0;
        padding-left: 20px;
        font-size: 14px;
    }
}



////////////////////////////////////////// HEADER
.b-header__top {
    padding-top: 20px;
}

.b-header__logo {
    width: 25%;
}

.b-header-search {
    width: 50%;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
}

.b-header-search__left {
    width: 22%;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    text-transform: lowercase;
    padding-left: 22px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        opacity: .1;
        bottom: 0;
        right: 18px;
        margin: auto 0;
        width: 12px;
        height: 12px;
        background: sprite1 0 0 no-repeat;
        background-size: spriteSize;
    }
}

.b-header-search__center {
    width: 63%;
}

.b-header-search__input {
    width: 100%;
    height: 33px;
    padding: 10px 15px;
    font-size: 14px;
    border: 0;
    border-left: 1px solid #e5e5e5;
}

.b-header-search__right {
    width: 15%;
    text-align: right;
    .b-button {
        transform: translateX(1px);
    }
}

.b-header-user {
    width: 25%;
    text-align: right;
}

.b-header-user__avatar {
    a {
        display: block;
    }
    img {
        display: block;
        border-radius: 50%;
    }
}

.b-header-user__name {
    font-size: 14px;
    max-width: 250px;
    padding-left: 10px;
}

.b-header-user__name-link {
    color: c-orange;
    &:visited {
        color: c-orange;
    }
    &:hover {
        color: c-orange;
    }
}

.b-header-user__exit {
    padding-left: 10px;
}

.b-header-user__exit-btn {
    display: block;
    width: 11px;
    height: 13px;
    background: sprite1 -14px 0 no-repeat;
    background-size: spriteSize;
}


.b-header-main {
    padding-top: 30px;
}

.b-header-main__left {
    width: 50%;
}

.b-nav__item {
    position: relative;
    padding-left: 25px;
    &:first-child {
        padding-left: 0;
    }
}

.b-nav__item_subitems {
    .b-nav__link {
        &:before {
            content: '';
            position: absolute;
            top: 9px;
            right: 6px;
            width: 10px;
            height: 6px;
            background: sprite1 -26px 0 no-repeat;
            background-size: spriteSize;
            opacity: .15;
            transition: .25s ease-out;
        }
        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            border-radius: 50%;
            border: 1px solid #e2e2e2;
            transition: .25s ease-out;
        }
        &:hover {
            &:before {
                opacity: .3;
                transform: translateY(1px);
            }
            &:after {
                border-color: #b4b4b4;
            }
        }
    }
    &:hover {
        .b-header-popup {
            opacity: 1;
            transform: scale(1);
            z-index: 10;
        }
    }
}

.b-nav__link {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}


.b-header-main__right {
    width: 50%;
    text-align: right;
}

.b-header-location {
    font-size: 14px;
}

.b-header-location__current {
    color: #888888;
}

.b-header-location__change {
    margin-left: 3px;
    &:before {
        content: '';
        margin: -2px 2px 0 0;
        width: 20px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
        background: sprite1 -37px 0 no-repeat;
        background-size: spriteSize;
    }
}

.b-header-cart {
    padding-left: 25px;
    font-size: 14px;
    padding-right: 3px;
    &:before {
        content: '';
        margin: -3px 15px 0 0;
        width: 20px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
        sprite($sprite-cart)
    }
    a {
        text-decoration: underline;
        &:visited {
            color: #000;
        }
        &:hover {
            color: c-orange;
        }
    }
}

.b-header-popup {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 100%;
    padding-top: 24px;
    left: 0;
    transform: scale(0.98);
    transition: opacity .25s ease-out, transform .25s ease-out;

    * {
        outline: none;
    }

    .b-custom-scroll {
        height: 270px;
    }

    .jspVerticalBar {
        width: 5px;
        background: none;
    }

    .jspTrack {
        background-color: #f4f4f4;
        border-radius: 5px;
    }

    .jspDrag {
        background-color: #889800;
        border-radius: 5px;
    }

    &:hover {
        display: block;
    }

}

.b-header-popup__wrapper {
    padding: 15px 10px;
    width: 1080px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0,0,0,.15);
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: -25px;
        left: 110px;
        width: 0;
        height: 0;
        border: 25px solid transparent;
        border-bottom: 25px solid #fff;
    }
}

.b-header-popup__left {
    width: 20%;
    vertical-align: top;
}

.b-header-popup__title {
    font-size: 18px;
    padding-left: 12px;
    color: #000;
}

.b-header-popup-menu {
    padding: 12px 0 0 0;
    margin: 0;
    list-style: none;
}

.b-header-popup-menu__item {
    display: block;
    a {
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        color: #000000;
        border-radius: 15px;
        text-decoration: none;
        padding: 7px 12px;
        transition: .25s ease-out;
        &:visited {
            color: #000000;
        }
        &:hover {
            color: #fff;
            background-color: #889800;
        }
    }
}

.b-header-popup__right {
    position: relative;
    width: 80%;
    padding-left: 3%;
    padding-right: 1.5%;
    vertical-align: top;
    .b-custom-scroll {
        &:after {
            content: '';
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 50px;
            width: 95%;
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        }
    }
}

.b-header-popup__top {
    width: 100%;
    .b-custom-select .selectize-input {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.b-header-popup__top-left {
    width: 40%;
}

.b-header-popup__filter {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    height: 35px;
    box-sizing: border-box;
}

.b-header-popup__filter-left {
    position: relative;
    width: 45%;
    height: 34px;
    line-height: 33px;
    font-size: 14px;
    color: #000;
    padding-left: 20px;
    &:after {
        content: '₶';
        position: absolute;
        top: 0;
        right: 12px;
        font-family: fontHelveticaThin;
        font-size: 14px;
        color: #e5e5e5;
    }
}

.b-header-popup__filter-select {
    width: 51.5%;
    position: relative;
    &:before {
        content: '';
        z-index: 10;
        position: absolute;
        left: 0;
        top: -2px;
        padding-top: 2px;
        width: 1px;
        height: 100%;
        background-color: #e5e5e5;
    }
}

.b-header-popup__top-right {
    width: 60%;
    padding-left: 3%;
    padding-right: 4%;
    .b-header-search {
        width: 100%;
    }
    .b-header-search__left {
        width: 25%;
    }

    .b-header-search__center {
        width: 60%;
    }
}

.b-header-popup__shops {
    width: 100%;
    padding-top: 15px;
    padding-right: 3%;
}

.b-header-popup__shop {
    position: relative;
    width: 19.2%;
    height: 110px;
    font-size: 0;
    padding: 10px;
    border: 1px solid #e8e8e8;
    text-align: center;
    margin-left: 1%;
    margin-top: 10px;
    transition: .25s ease-out;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
    }
    &:nth-child(5n+1) {
        margin-left: 0;
    }
    img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
    }
}





////////////////////////////////////////// MAIN SLIDER
.b-main-slider {
    position: relative;
    width: 100%;
    padding-top: 15px;
    height: 360px;
    overflow: hidden;
    box-sizing: content-box;
    * {
        outline: none;
    }
}

.b-main-slider__slider {
    width: 100%;
    .slick-dots {
        position: absolute;
        margin: 0;
        width: 45%;
        left: 55%;
        bottom: 80px;
        padding: 0;
        font-size: 0;
        padding-left: 10px;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
        }

        button {
            width: 12px;
            padding: 0;
            height: 12px;
            background: transparent;
            border-radius: 50%;
            border: 1px solid #fff;
            box-sizing: border-box;
            transition: .25s ease-out;
        }

        .slick-active {
            button {
                border-color: c-orange;
                background-color: c-orange;
            }
        }
    }
}

.b-main-slider__item {
    position: relative;
    height: 360px;
    padding-top: 15px;
    &.loaded {
        .b-main-slider__item-img {
            opacity: 1;
            transform: scale(1);
        }
        .b-main-slider-info {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.b-main-slider__item-bg {
    height: 330px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-main-slider__item-img {
    position: absolute;
    top: 0;
    left: 7%;
    opacity: 0;
    transform: scale(.9);
    transition: .4s ease-out;
}

.b-main-slider-info {
    position: absolute;
    bottom: 110px;
    left: 55%;
    color: #fff;
    width: 380px;
    opacity: 0;
    transform: translateX(20px);
    transition: .4s ease-out;
    transition-delay: .5s;
}

.b-main-slider-info_black {
    color: #000;
}

.b-main-slider-info__subtitle {
    font-size: 17px;
}

.b-main-slider-info__title {
    font-size: 28px;
    padding-top: 20px;
    line-height: 1.1em;
}

.b-main-slider-info__btn {
    position: relative;
    display: block;
    margin-top: 15px;
    width: 180px;
    border-radius: 25px;
    background-color: #d1404a;
    padding: 8px 15px 10px 15px;
    color: #fff;
    font-size: 13px;
    text-transform: lowercase;
    text-decoration: none;
    transition: .25s ease-out;
    &:visited {
        color: #fff;
    }
    &:hover {
        color: #fff;
        background-color: #bc333c;
        &:before {
            transform: scale(1.1) translateX(3px);
        }
        &:after{
            transform: translateX(3px);
        }
    }
    &:before {
        content: '';
        position: absolute;
        top: 5px;
        right: 15px;
        display: block;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        transition: .25s ease-out;
    }
    &:after {
        content: '';
        position: absolute;
        right: 22px;
        top: 11px;
        width: 6px;
        height: 10px;
        background: sprite1 -26px -7px no-repeat;
        background-size: spriteSize;
        transition: .25s ease-out;
    }
}


////////////////////////////////////////// MAIN SECTIONS
.b-main-sections {
    width: 100%;
    padding-top: 5px;
}

.b-main-sections__section {
    width: 48.5%;
    vertical-align: top;
    padding: 1.5% 3.5%;
    box-shadow: 0 0 40px rgba(0,0,0,.15);
    &:first-child {
        margin-right: 3%;
    }
    &.open {
        .b-main-sections__items {
            max-height: 280px;
        }
        .b-main-sections__more {
            .b-button {
                &:after {
                    transform: scale(-1);
                }
            }
        }
    }
}

.b-main-sections__title {
    font-size: 18px;
}

.b-main-sections__items {
    padding-top: 10px;
    max-height: 140px;
    overflow: hidden;
    transition: max-height .25s ease-out;
}

.b-main-sections__item {
    position: relative;
    width: 32.75%;
    height: 125px;
    font-size: 0;
    padding: 10px;
    border: 1px solid #e8e8e8;
    text-align: center;
    margin-top: 5px;
    transition: .25s ease-out;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
    }
    &:nth-child(3n+2) {
        margin-left: .875%;
        margin-right: .875%;
    }
    img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
    }
    &:not(.b-main-sections__item_disabled) {
        img {
            position: relative;
            z-index: 1;
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: .25s ease-out;
            background: #ffffff;
            background: -moz-linear-gradient(top,  #ffffff 0%, #fffddd 100%);
            background: -webkit-linear-gradient(top,  #ffffff 0%,#fffddd 100%);
            background: linear-gradient(to bottom,  #ffffff 0%,#fffddd 100%);
        }
    }
}

.b-main-sections__item_disabled {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.9);
    }
}

.b-main-sections__disabled {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    color: #898989;
    font-size: 12px;
}

.b-main-sections__more {
    padding-top: 15px;
    text-align: center;

    .b-button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #c1c1c1;
        transition: .25s ease-out;
        &:after {
            content: '';
            position: absolute;
            top: 1px;
            bottom: 0;
            right: 0;
            left: 0;
            width: 15px;
            height: 9px;
            opacity: .2;
            margin: auto;
            transition: .25s ease-out;
            background: sprite1 0 -15px no-repeat;
            background-size: spriteSize;
        }
        &:hover {
            border-color: #7d7d7d;
            &:after {
                opacity: .6;
                transform: translateY(3px);
            }
        }
    }
}



.b-main-products {
    padding-top: 15px;
}


////////////////////////////////////////// PRODUCTS BLOCK
.b-products-block {
    position: relative;
    border: 1px solid #e5e5e5;
}

.b-products-block-top {
    position: relative;
    padding: 10px 10px 15px 10px;
    background: #fac10e;
    background: -moz-linear-gradient(left,  #fac10e 0%, #fbc902 30%, #fcd000 70%, #fcd200 100%);
    background: -webkit-linear-gradient(left,  #fac10e 0%,#fbc902 30%,#fcd000 70%,#fcd200 100%);
    background: linear-gradient(to right,  #fac10e 0%,#fbc902 30%,#fcd000 70%,#fcd200 100%);
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        background: url('../images/products-top_bottom.png') 50% 50% repeat-x;
    }
}

.b-products-block-top__title {
    font-size: 20px;
    .b-icon_hot {
        margin-right: 3px;
        margin-top: -4px;
    }
}

.b-products-block-top__left {
    width: 50%;
}

.b-products-block-top__right {
    width: 50%;
    text-align: right;
}

.b-products-block-tabs {
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.b-products-block-tabs__item {
    position: relative;
    width: 9%;
    text-align: center;
    padding: 15px;
    height: 80px;
    border: 1px solid transparent;
    transition: .25s ease-out;
    box-sizing: border-box;
    cursor: pointer;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity .2s ease-out;
        background: #fefefa;
        background: -moz-linear-gradient(top,  #fefefa 0%, #fffde3 100%);
        background: -webkit-linear-gradient(top,  #fefefa 0%,#fffde3 100%);
        background: linear-gradient(to bottom,  #fefefa 0%,#fffde3 100%);
    }

    img {
        position: relative;
        z-index: 1;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    &:hover,
    &.active {
        border-color: #e7e7e7;
        &:after {
            opacity: 1;
        }
        .b-products-block-tabs__item-arrow {
            opacity: 1;
        }
    }
}

.b-products-block-tabs__item-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity .2s ease-out;
    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid #eaeaea;
    }
    &:after {
        content: '';
        position: absolute;
        left: 1px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #fffde3;
    }
}

.b-products-block-tabs-content {
    padding-top: 5px;
}

.b-products-slider {
    padding: 10px 0;
}

.b-products-slider__slider {
    width: 100%;
    font-size: 0;
    position: relative;
    * {
        outline: none;
    }
    &.slick-initialized {
        padding-left: 65px;
        padding-right: 65px;
    }

    .slick-arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid c-green;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 15px;
            height: 25px;
            background: sprite1 -92px 0 no-repeat;
            background-size: spriteSize;
            transition: .25s ease-out;
        }
    }

    .slick-prev {
        left: 10px;
        &:after {
            left: -1px;
        }
        &:hover {
            &:after {
                transform: translateX(-2px);
            }
        }
    }

    .slick-next {
        right: 10px;
        &:after {
            left: 1px;
            background-position: -108px 0;
        }
        &:hover {
            &:after {
                transform: translateX(2px);
            }
        }
    }

}

.b-products-slider__item {
    display: inline-block;
    vertical-align: top;
}

////////////////////////////////////////// PRODUCTS PREVIEW
.b-product-preview{
    position: relative;
    width: 220px;
    padding: 20px;
    border-radius: 5px;
    transition: box-shadow .2s ease-out;
    &:hover {
        box-shadow: inset 0 0 1px 3px rgba(255,216,0,.25);
    }
}

.b-product-preview__pic {
    text-align: center;
    height: 215px;
    width: 100%;
    &:before {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    a {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
}

.b-product-preview__name {
    padding-top: 10px;
    height: 55px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    line-height: 1.1em;
    a {
        color: #000;
        text-decoration: none;
        &:visited {
            color: #000;
        }
        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
}

.b-product-preview__price {
    padding-top: 2px;
    font-size: 24px;
    font-family: fontHelveticaThin;
}

.b-product-preview__buy {
    padding-top: 10px;
}

.b-product-preview__count {
    width: 40%;
    padding-right: 3%;
    position: relative;
}

.b-product-preview__input {
    background-color: #f3f2f0;
    width: 100%;
    font-size: 24px;
    padding: 2px 30px 2px 12px;
    border-radius: 20px;
    border: 0;
    font-family: fontHelveticaThin;
}

.b-product-preview__incart {
    width: 60%;
}

.b-product-preview__incart {
    text-align: center;
}


////////////////////////////////////////// MAIN CATEGORY
.b-main-category {
    padding-top: 25px;
}

.b-main-category__title {
    padding-bottom: 20px;
}

.b-main-category-items {
    width: 100%;
    font-size: 16px;
}

.b-main-category-items__row {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-top: -1px;
    &:first-child {
        margin-top: 0;
    }
}

.b-main-category-items__item {
    position: relative;
    display: table-cell;
    vertical-align: top;
    border: 1px solid #e7e7e7;
    padding: 40px;
}

.b-main-category-items__item_55 {
    width: 55%;
}

.b-main-category-items__item_45 {
    width: 45%;
    .b-main-category-list__block {
        width: 50%;
    }
}

.b-main-category-items__item_40 {
    width: 40%;
    .b-main-category-list__block {
        width: 50%;
    }
}

.b-main-category-items__item_20 {
    width: 20%;
    .b-main-category-list__block {
        width: 100%;
    }
}

.b-main-category__pic {
    position: absolute;
    img {
        display: block;
    }
}

.b-main-category-list {
    width: 100%;
    position: relative;
    z-index: 1;
}

.b-main-category-list__title {
    a {
        text-decoration: none;
        color: #000;
        &:visited {
            color: #000;
        }
        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
}

.b-main-category-list_offset_40 {
    padding-left: 40%;
    .b-main-category-list__block {
        width: 50%;
    }
}

.b-main-category-list__block {
    vertical-align: top;
    width: 33.33%;
    padding: 0 20px 0 0;
    list-style: none;
    margin: 0;
}

.b-main-category-list__item {
    font-size: 13px;
    padding-top: 15px;
    a {
        text-decoration: none;
        color: #000;
        &:visited {
            color: #000;
        }
        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
}


////////////////////////////////////////// FOOTER
.b-footer {
    padding-top: 35px;
}

.b-footer-steps {

}

.b-footer-steps__step {
    width: 32.8%;
    margin-left: .8%;
    height: 145px;
    font-size: 0;
    padding: 10px 5px 10px 175px;
    background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-position: 0 50%;
    &:first-child {
        margin-left: 0;
    }
    &:before {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
}

.b-footer-steps__info {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.b-footer-steps__title {
    font-size: 20px;
    line-height: 1.2em;
}

.b-footer-steps__text {
    font-size: 13px;
    color: #555;
    padding-top: 5px;
    line-height: 1.5em;
}

.b-footer-wave {
    width: 100%;
    height: 5px;
    margin-top: 30px;
    background: url('../images/footer-wave.png') 50% 50% repeat-x;
}

.b-footer-bottom {
    padding-top: 35px;
    padding-bottom: 40px;
}

.b-footer-bottom__menu {
    width: 20%;
    vertical-align: top;
    padding-left: 40px;
    &:first-child {
        padding-left: 0;
    }
}

.b-footer-bottom__title {
    a {
        text-decoration: none;
        color: #000;
        &:visited {
            color: #000;
        }
        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
}

.b-footer-bottom__items {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

.b-footer-bottom__item {
    padding-top: 8px;
    a {
        font-size: 13px;
        color: #000;
        text-decoration: none;
        &:visited {
            color: #000;
        }
        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
}

.b-footer-bottom__info {
    vertical-align: top;
    width: 30%;
    padding-left: 40px;
}

.b-footer-bottom__text {
    padding-top: 5px;
    font-size: 13px;
    line-height: 1.9em;
    a {
        text-decoration: underline;
    }
}


////////////////////////////////////////// POPUP
.b-popup {
    margin: 0 auto;
}

.b-popup-hello {
    width: 975px;
    height: 370px;
    padding: 7px 6px;
    background: url('../images/hello-bg.png') 50% 50% no-repeat;
}

.b-popup-hello__wrapper {
    padding: 50px 50px 10px 50px;
    background: rgb(255,255,254);
    height: 358px;
    background: -moz-linear-gradient(top,  rgba(255,255,254,1) 0%, rgba(255,252,214,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,254,1) 0%,rgba(255,252,214,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,254,1) 0%,rgba(255,252,214,1) 100%);
}

.b-popup-hello__left {
    width: 55%;
    padding: 10px 0;
    border-right: 1px solid #edece4;
}
.b-main-sections__item:not(.b-main-sections__item_disabled):hover, .b-main-sections__item.b-main-sections__item_active
  background: #ffffff;
  background: -webkit-linear-gradient(top, #ffffff 0%, #fffddd 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fffddd 100%);
  border-color: #f1c412;
.b-popup-hello__item {
    position: relative;
    width: 33.33%;
    text-align: center;
    &:after {
        content: '';
        position: absolute;
        right: -5px;
        top: 30px;
        width: 18px;
        height: 17px;
        background: sprite1 -125px 0 no-repeat;
        background-size: spriteSize;
        opacity: .3;
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
    img {
        display: block;
        margin: 0 auto;
    }
    span {
        font-size: 16px;
        display: block;
        padding-top: 10px;
    }
}

.b-popup-hello__list {
    width: 95%;
    margin-top: 35px;
    font-size: 14px;
    li {
        margin: 3px 0;
    }
}

.b-popup-hello__right {
    width: 45%;
    padding: 25px 10px;
}

.b-popup-hello__title {
    font-size: 28px;
    line-height: 1.3em;
    padding-left: 10px;
}

.b-popup-hello-form {
    padding-top: 20px;
}

.b-popup-hello-form__title {
    font-size: 17px;
    padding-left: 10px;
}

.b-popup-hello-form__item {
    margin-top: 20px;
    position: relative;
    .b-form-control {
        padding-right: 80px;
    }
    .b-button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.b-popup-hello-form__note {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 10px;
    a {
        color: #2bc265;
        text-decoration: underline;
        &:visited {
            color: #2bc265;
        }
        &:hover {
            color: #000;
        }
    }
}


.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

// Stylus Syntax
.b-catalog 
  margin 40px 0 0 0
.b-catalog__content
  shadow()
.b-catalog__right
  width 73%
.b-catalog__left
  width 24.6%
  margin 0 2.3% 0 0
.b-content__item
  padding 30px 0 40px 0
.b-products-block-top__reverse
  background url('../images/headers/head-1.png')
  background url('../images/headers/head-1.png') no-repeat right, linear-gradient(to left,  #fac10e 0%,#fbc902 30%,#fcd000 65%,#ffe800 100%);
  padding 18px 15px
.b-products-block-top_skid
  background url('../images/headers/skid.png')
  background url('../images/headers/skid.png') no-repeat right, linear-gradient(to left,  #fac10e 0%,#fbc902 30%,#fcd000 65%,#ffe800 100%);
  padding 18px 15px
.bg_reverse
  background linear-gradient(to left,  #fac10e 0%,#fbc902 30%,#fcd000 65%,#ffe800 100%);
.b-products-slider__item_responsive
  width 25%
.b-product-preview_border
  width: 99%;
  margin: 0 0.5%;
  padding 20px 36px
  &:hover
    box-shadow: inset 0 0 0px 3px d-orange
    .b-count__in 
      opacity 1
      trs()
.b-count__in
  background d-orange
  border-radius(20px)
  display inline-block
  padding 2px 8px
  opacity 0
.b-product__count
  color black 
  z-index 1 
  position absolute
  font-size 12px
  width 100%
  top -7px
  left 0px
  text-align center
.b-product-preview_actvie
  box-shadow: inset 0 0 0px 3px d-orange
  .b-count__in 
    opacity 1
.bread__list 
  display inline-block
  color c-grey
  font-size 12px
  &:after 
    content '/'
    margin 0 3px
    display inline-block
.bread__item 
  color c-grey
  font-size 12px
  text-decoration none
.b-bread 
  padding 0px
  margin-bottom 20px
.b-catalog__filter-left
  margin-right 10px
.b-catalog__filter-left
.b-catalog__filter-select
  font-size 14px
  color c-grey
.b-header-popup__filter-select_catalog
  &:before 
    display none
  .selectize-input.full
    background transparent
  .selectize-input
    padding-left 0px
  .selectize-control.single .selectize-input:after
    right 0px
.b-header-popup__filter_catalog
  padding 0 20px 0 20px
  width 60%
  .b-header-popup__filter-select
    width 100%
.b-header-popup_catalog-left
  width 250px
.b-filter__result
  margin 20px
.result__item 
  background linear-gradient(to right,  #fac10e 0%,#fbc902 60%,#fcd000 85%,#ffe800 100%);
  display inline-block
  font-size 14px
  text-decoration none
  padding 10px 15px
  border-radius 30px 
  margin 0 5px 0 0
.del__item
  sprite($sprite-close)
  display inline-block
  margin 0 5px
// Sidebar
.b-sidebar__delivery
  background url(../images/ashan.jpg) no-repeat center
  background-size cover
  width 100%
  height: 369px;
  padding 40px 40px 30px 40px
  border-radius(5px)
  overflow hidden
  margin 0 0 20px 0
  .b-button_delivery:first-child:after
    sprite($sprite-time)
.b-sidebar__deliver_bg
  background url(../images/kosm.jpg) no-repeat center
  background-size: cover;
.b-delivery__content
  text-align center
  margin 22px 0 0 0
.b-delivery__close
  font-size 14px
  color white
  text-align: center
  margin 0 0 20px 0
  span 
    display block
    font-size 20px
    margin 5px 0 0 0
.b-img-wrapper
  background white 
  padding 40px 10px
  display inline-block
  margin 0 0 15px 0
  height: 123px;
.b-img-title
  background none
  font-size 36px
  color white
.b-button_delivery
  border 1px solid c-orange
  color white
  width 100%
  margin-bottom 4px
  font-size 18px
  position: relative;
  padding: 7px 10px;
  border-radius(30px)
  font-size: 15px;
  text-decoration: none;
  trs()
  &:hover 
    background: rgba(255, 255, 255, 0.14);
  &:visited 
    color white
  &:before
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    border: 1px solid #000;
    border-radius(50%)
    margin-top: -3px;
    margin-right: 9px;
    border 1px solid c-orange
    transition: 0.25s ease-out;
  &:after  
    content ''
    color c-orange
    sprite($sprite-arrow)
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 17px;
    margin: auto 0;
    transition: 0.25s ease-out;
  &:hover:before
  &:hover:after
    transform: translateX(2px);
    transition: 0.25s ease-out;
.b-sidebar__catalog-wrapper
  margin 0 0 20px 0
  shadow()
  border-radius(5px)
  overflow hidden
.b-sidebar__catalog__head
  border-radius(5px)
  padding 15px 20px
  font-size 24px 
  color black
  background linear-gradient(to right,  #fac10e 0%,#fbc902 60%,#fcd000 85%,#ffe800 100%);
.b-main-sections__more_sidebar
  padding-top 0px
  margin 0 0 0 57px
  .b-button
    border: 1px solid #AF9200;
.b-sidebar__filter
  padding 30px 50px
  shadow()
  border-radius(5px)
.b-wave
  position relative
  &:after 
    margin 10px 0 0 0
    content ''
    background: url("../images/footer-wave.png") 50% 50% repeat-x;
    display block
    width 100%
    height 10px
.filter__head__left
  font-size 24px
  width 75%
.filter__head__right
  width 25%
  text-align right
.reset__filetr
  font-size 12px
  color c-green
  margin 5px 0 0 0
  display inline-block
  text-decoration underline
  &:hover
    text-decoration none
  &:visited 
    color c-green
.b-sidebar__filter__content
  margin 10px 0 0 0
.filter__head__par
  font-size 18px
.filter__head__par_bottom 
  font-size 18px
.filter__label 
  font-size 13px
  display block
  margin 7px 0
  cursor pointer
.filter__content *
  outline none
.filter__content
  margin 20px 0 10px 0
  .jspDrag
    background-color: #46ba44
    border-radius: 5px;
  .jspTrack
    background-color: #f4f4f4;
    border-radius: 5px;
  .jspVerticalBar
    width: 8px;
    background: none;
  .b-custom-scroll
    height 145px
.filter__checkbox
  margin-right 10px
input[type="checkbox"]
  display none
.filter__label > i
  display inline-block
  margin 0 10px 0 0
  width 16px
  height @width
  border solid 1px white
  border-radius(50%)
  background #f0efec
  cursor pointer
  vertical-align middle
  position relative
.filter__label > .filter__checkbox:checked + i
  background #f0efec
  trs()
  &:after 
    sprite($sprite-checkd)
    content ''
    display inline-block
    position absolute
    top 3px 
    left @top
// Price slider
.slider__values
  font-size 13px
  width 33%
  display inline-block
#amount 
  font-size 13px
  border none
  width 33$
.ui-slider-horizontal .ui-slider-range 
  top: 0;
  height: 100%;
.filter__content
  margin 5px 0
#slider-range
  margin 8px 0
.ui-slider 
  height 8px 
  background #f0efec
  border none
  border-radius 4px
  overflow hidden
  cursor pointer
.ui-slider-range
  background #46ba44
  border none
.ui-slider-handle
  border none
.third__value
  text-align right
.second__value
.fluide__value
  text-align center
.fluide__value
.first__value
  color c-grey
// Filter result
.relult__products__submit
  text-align right
  width 39%
.relult__products
  width 61%
  text-align right
.filter__result__products
  display none
  shadow()
  border-radius(20px)
  position absolute
  background white
  left 230px
  z-index 2
  width 245px
  top 50%
.relult__products
  font-size 12px 
  color black
.products__cont
  margin 0 4px
.js_resultActive
  display block
// Ashan
.b-product-preview_ashan
  width 196px
  &:hover 
    box-shadow: inset 0 0 0px 3px d-orange
.b-sidebar__catalog_white
  bacgkround white 
  border-radius(5px)
  // shadow()
  padding 30px 20px 20px 20px
.catalog__title
  font-size 18px
  display inline-block
  width 100%
  height 35px
  line-height @height
  padding 0px 0px 0 15px
  vertical-align middle
  &:before 
    display inline-block
    content ''
    vertical-align middle
    margin 0 10px 0 5px
.catalog__item
  color black
  font-size 13px
  padding 5px 10px 5px 5px
  position relative
  top -2px
  left -13px
  border-radius(20px)
  &:before 
    width 7px 
    height @width
    content ''
    background #E6E4E4
    display inline-block
    border-radius(50%)
    margin 0 5px
    position relative 
    top -1px
  &:hover 
    color black
    background c-orange
.catalog__sub 
  padding 0px 0px 0 10px
  .catalog__sub 
    padding 0 0 0 4px
.catalog__acordion
  padding 0px
  a 
    text-decoration none
.catalog__list 
  list-style none
  margin 0 0 6px 0
  display block
  &:hover .catalog__title
    background linear-gradient(to right,  #FF8D00 20%,#fbc902 70%,#fcd000 95%,#ffe800 100%);
    trs()
  &:nth-child(4)
    margin 30px 0 6px 0
  &:first-child > a:before
    sprite($sprite-c-0)
  &:nth-child(2) > a:before
    sprite($sprite-c-1)
  &:nth-child(3) > a:before
    sprite($sprite-c-2)
  &:nth-child(4) > a:before
    sprite($sprite-c-3)
  &:nth-child(5) > a:before
    sprite($sprite-c-4)
  &:nth-child(6) > a:before
    sprite($sprite-c-5)
  &:nth-child(7) > a:before
    sprite($sprite-c-6)
  &:nth-child(8) > a:before
    sprite($sprite-c-7)
  &:nth-child(9) > a:before
    sprite($sprite-c-8)
  &:nth-child(10) > a:before
    sprite($sprite-c-9)
  &:nth-child(11) > a:before
    sprite($sprite-c-10)
  &:nth-child(12) > a:before
    sprite($sprite-c-11)
  &:nth-child(13) > a:before
    sprite($sprite-c-12)
  &:nth-child(14) > a:before
    sprite($sprite-c-13)
  &:nth-child(15) > a:before
    sprite($sprite-c-14)
  &:nth-child(16) > a:before
    sprite($sprite-c-15)
  &:nth-child(17) > a:before
    sprite($sprite-c-16)
  &:nth-child(18) > a:before
    sprite($sprite-c-17)
  &:nth-child(19) > a:before
    sprite($sprite-c-18)
  &:nth-child(20) > a:before
    sprite($sprite-c-19)
  &:nth-child(21) > a:before
    sprite($sprite-c-20)
  &:nth-child(22) > a:before
    sprite($sprite-c-21)
.catalog__acordion_new-icons
  .catalog__list
    &:nth-child(4) > a:before
      sprite($sprite-c-22)
    &:nth-child(5) > a:before
      sprite($sprite-c-23)
    &:nth-child(6) > a:before
      sprite($sprite-c-24)
    &:nth-child(7) > a:before
      sprite($sprite-c-25)
    &:nth-child(8) > a:before
      sprite($sprite-c-26)
    &:nth-child(9) > a:before
      sprite($sprite-c-27)
    &:nth-child(10) > a:before
      sprite($sprite-c-28)
    &:nth-child(3) > a:before
      sprite($sprite-c-29)
.catalog__acordion_makeup-icons
  .catalog__list
    &:nth-child(4) > a:before
      sprite($sprite-c-30)
    &:nth-child(5) > a:before
      sprite($sprite-c-31)
    &:nth-child(6) > a:before
      sprite($sprite-c-32)
    &:nth-child(7) > a:before
      sprite($sprite-c-33)
    &:nth-child(8) > a:before
      sprite($sprite-c-34)
    &:nth-child(9) > a:before
      sprite($sprite-c-35)
    &:nth-child(10) > a:before
      sprite($sprite-c-36)
    &:nth-child(11) > a:before
      sprite($sprite-c-37)
    &:nth-child(12) > a:before
      sprite($sprite-c-38)
    &:nth-child(13) > a:before
      sprite($sprite-c-39)
    &:nth-child(3) > a:before
      sprite($sprite-c-29)
.b-catalog__favorite_rec
  .catalog__list
    &:nth-child(1) > a:before
      sprite($sprite-c-22)
    &:nth-child(2) > a:before
      sprite($sprite-c-23)
    &:nth-child(3) > a:before
      sprite($sprite-c-24)
    &:nth-child(4) 
      margin 0 0 6px 0
      > a:before
        sprite($sprite-c-25)
    &:nth-child(5) > a:before
      sprite($sprite-c-26)
    &:nth-child(6) > a:before
      sprite($sprite-c-27)
    &:nth-child(7) > a:before
      sprite($sprite-c-28)
.favorite_rec
  .catalog__list
    &:nth-child(1) > a:before
      sprite($sprite-c-2)
    &:nth-child(2) > a:before
      sprite($sprite-c-22)
    &:nth-child(3) > a:before
      sprite($sprite-c-23)
    &:nth-child(4)
      margin 0 0 6px 0
      > a:before
        sprite($sprite-c-24)
    &:nth-child(5) > a:before 
      sprite($sprite-c-25)
    &:nth-child(6) > a:before
      sprite($sprite-c-26)
    &:nth-child(7) > a:before
      sprite($sprite-c-27)
    &:nth-child(8) > a:before
      sprite($sprite-c-28)
.b-catalog__all
  margin-bottom 30px
  .b-all__item
    padding 20px 0
.catalog__title_grey
  background #f0f0f0
.catalog__item__sub 
  color #E6E6E6
  font-size: 25px;
  position relative
  padding: 0 0px 2px 15px;
.catalog__item__sub_orange 
  color c-orange
  .catalog__item
    &:before
      background c-orange
    &:hover:before 
      background white
.catalog__item__sub_active
  color white
  background c-orange
.b-grid__left
.b-grid__left_w
  width 60.2%
// Ashan grid
// .b-grid__left 
//   width 60%
// .b-grid__right
//   width 40%
.b-grid__left 
.b-grid__right
.b-grid__col
  position relative
  overflow hidden
.b-grid__layer
  position absolute
  z-index 1
  top 0px 
  width 100%
  height 100%
  left 0px
  trs2()
  opacity 0
.b-grid__col:hover
  .b-grid__layer
    opacity 1
    trs2()
  .b-grid__ul
    opacity 1
    trs2()
    margin-left 0px
.b-grid__menu
  padding-top 25px
  padding-left 20px
  position absolute
  z-index 2
  top 0px 
  left 0px
.b-grid__title
  font-size 20px
  color white
.b-grid__link 
  color white
  text-decoration underline
  font-size 13px
  text-shadow 1px 1px 1px black
  &:before 
    content ''
    display inline-block
    height 8px
    width @height 
    border-radius(50%)
    background rgba(255, 255, 255, 0.44)
    vertical-align middle
    margin-right 10px
  &:visited 
    color white
.b-grid__item
  margin 12px 0
.b-grid__title__link
  color white 
  text-decoration none
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8)
  &:visited 
    color white
.b-grid__ul
  padding 0px
  opacity 0
  margin-left -20px
  trs2()
.b-grid__menu_left
  padding-left 40px
.b-grid__i1:before
  content ''
  display inline-block
  vertical-align middle
  margin-right 15px
  sprite($sprite-r-1)
.b-grid__i2:before
  content ''
  display inline-block
  vertical-align middle
  margin-right 15px
  sprite($sprite-r-2)
.b-grid__i3:before
  content ''
  display inline-block
  vertical-align middle
  margin-right 15px
  sprite($sprite-r-3)
.b-grid__i4
  font-size 16px
  &:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 5px
    sprite($sprite-r-4)
.b-grid__i5
  font-size 16px
  &:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 5px
    sprite($sprite-r-5)
.b-grid-icons-2
  .b-grid__i1:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-1-2)
  .b-grid__i2:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-2-2)
  .b-grid__i3:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-3-2)
  .b-grid__i4
    font-size 16px
    &:before
      content ''
      display inline-block
      vertical-align middle
      margin-right 5px
      sprite($sprite-r-4)
  .b-grid__i5
    font-size 16px
    &:before
      content ''
      display inline-block
      vertical-align middle
      margin-right 5px
      sprite($sprite-r-5-2)
.b-grid-icons-3
  .b-grid__i1:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-1-3)
  .b-grid__i2:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-2-3)
  .b-grid__i3:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-3-3)
  .b-grid__i4
    font-size 16px
    &:before
      content ''
      display inline-block
      vertical-align middle
      margin-right 5px
      sprite($sprite-r-4-3)
  .b-grid__i5
    font-size 16px
    &:before
      content ''
      display inline-block
      vertical-align middle
      margin-right 5px
      sprite($sprite-r-5-3)
.b-grid-icons-4
  .b-grid__i1:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-1-2)
  .b-grid__i2:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-2-2)
  .b-grid__i3:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-3-2)
  .b-grid__i4
    font-size 16px
    &:before
      content ''
      display inline-block
      vertical-align middle
      margin-right 5px
      sprite($sprite-r-4)
  .b-grid__i5
    font-size 16px
    &:before
      content ''
      display inline-block
      vertical-align middle
      margin-right 5px
      sprite($sprite-r-5-2)
.b-grid-icons-5
  .b-grid__i1:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-1-5)
  .b-grid__i2:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-2-5)
  .b-grid__i3:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-3-5)
  .b-grid__i6
    &:before
      content ''
      display inline-block
      vertical-align middle
      margin-right 5px
      sprite($sprite-r-4-5)
.b-grid-icons-6
  .b-grid__i1:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-1-6)
  .b-grid__i2:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-2-6)
  .b-grid__i3:before
    content ''
    display inline-block
    vertical-align middle
    margin-right 15px
    sprite($sprite-r-3-6)
  .b-grid__i4
    font-size 16px
    &:before
      content ''
      display inline-block
      vertical-align middle
      margin-right 5px
      sprite($sprite-r-4-6)
  .b-grid__i5
    font-size 16px
    &:before
      content ''
      display inline-block
      vertical-align middle
      margin-right 5px
      sprite($sprite-r-5-6)
.b-grid__menu_top
  padding-top 10px
  padding-left 10px
.b-grid__layer_blue
  background url(../images/sub.png) no-repeat top center
  background-size: cover;
.b-grid__layer_orange
  background url(../images/sub2.png) no-repeat top center
  background-size: cover;
.b-grid__layer_green
  background url(../images/sub3.png) no-repeat top center
  background-size: cover;
.b-grid__layer_dark
  background url(../images/sub5.png) no-repeat top center
  background-size: cover;
.b-grid-icons-2
  .b-grid__layer_orange
    background url(../images/sub-2-2.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_dark
    background url(../images/sub-5-2.png) no-repeat top center
    background-size: cover;
.b-grid-icons-3
  .b-grid__layer_blue
    background url(../images/sub-1-3.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_orange
    background url(../images/sub-2-3.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_green
    background url(../images/sub-2-2.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_soft
    background url(../images/sub-4-3.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_dark
    background url(../images/sub-5-3.png) no-repeat top center
    background-size: cover;
.b-grid-icons-4
  .b-grid__layer_blue
    background url(../images/sub-1-4.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_orange
    background url(../images/sub-2-3.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_green
    background url(../images/sub-3-4.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_soft
    background url(../images/sub-5-2.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_dark
    background url(../images/sub-5-2.png) no-repeat top center
    background-size: cover;
.b-grid-icons-5
  .b-grid__layer_blue
    background url(../images/sub-1-5.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_orange
    background url(../images/sub-2-5.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_green
    background url(../images/sub-2-5.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_soft
    background url(../images/sub-2-5.png) no-repeat top center
    background-size: cover;
.b-grid-icons-6
  .b-grid__layer_blue
    background url(../images/sub-1-6.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_green
    background url(../images/sub-3-6.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_soft
    background url(../images/sub-5-4.png) no-repeat top center
    background-size: cover;
  .b-grid__layer_dark
    background url(../images/sub-5-2.png) no-repeat top center
    background-size: cover;
.b-grid-icons-6
  margin 30px 0 0 0
.b-catalog__ashan
  .b-single-slide
    width: 365px;
    background: #FBFBFB
    padding: 0 18px;
    .b-products-slider
      padding: 0px 0 4px 0;
    .b-product-preview_ashan:hover 
      box-shadow none
    .slick-dots 
      position relative 
      top -165px
      padding 0px 
      text-align center
.b-product-preview__pic_margin
  margin 0 0px 30px 0
.b-catalog__ashan
  .slick-dots
    button
      border none
      background transparent
    li 
      display inline-block
      margin 0 6px
      width 8px
      height @width 
      background #E0E0DF
      border-radius(50%)
    .slick-active
      background c-green
.b-product-discount
  color black
  font-size 20px
  border-radius(50%)
  height 60px
  width @height
  line-height @height
  text-align center
  background linear-gradient(to right,  #fac10e 0%,#fbc902 60%,#fcd000 85%,#ffe800 100%);  
  position absolute
  right 0px
.mini__slide 
  width 67%
  .b-products-slider__slider
    padding 0 0
  .b-product-preview__pic_margin
    margin: 0 0px 13px 0
  .slick-dots
    margin 10px 0 0 0
    padding 0
    text-align center
  .b-products-slider
    padding: 25px 0 10px 0
.view__all
  width 33%
  background linear-gradient(to top,  #f5ae00 0%,#fbc902 60%,#fcd000 85%,#ffe800 100%);  
  .b-products-block-top__right
    width 100%
    text-align left
.b-grid__title__head
  color black
  width 130px 
  line-height 25px
  margin 0 0 30px 0
.b-grid__menu_bottom
  padding 50px 0px 20px 20px
.b-grid-slide__title
  color black
  font-size 20px
  margin 21px 0 10px 0
  text-decoration none
  display block
.b-mini__preview
  width 120px
  text-align center 
  position relative
  position relative 
  padding 0 17px
.mini-preview__pic img 
  max-width 100%
  width 100%
  height auto
.b-id-wrapper_shadow
  shadow()
.discounts
  position absolute
  right 0px 
  width 45%
  color white
  font-size 16px
  margin 50px 0 0 0px
  .b-button_delivery
    width auto
    margin 15px 0 0 0
.b-button_single
  padding-right 30px
.b-products__align-right
  width 100%
  text-align left
.discount__text
  font-size 16px
  display block
  margin 5px 0
.discount__per
  font-size 40px
  display block
  margin 10px 0 0 0
.menu__item
  position relative
  &:hover .menu__link
    background c-orange
  &:hover .menu__sub
    display block
    trs()
  &:after 
    content ''
    sprite($sprite-arrow-right)
    display inline-block
    position absolute
    right 35px
    top 9px
  &:hover:after
    sprite($sprite-arrow-right-hover)
.menu__link
.sub__menu__link
  color black 
  font-size 13px
  text-decoration none
  padding 3px 15px 3px 15px
  margin 3px 0
  display inline-block
  border-radius(20px)
  &:visited 
    color black
  &:hover 
    background c-orange
.b-header-popup__wrapper_reset
  padding 0px
  height auto
  width 247px
.ulmart__menu
  position relative
  padding 20px 0px 20px 20px
.b-menu__left
  width 256px
.menu__sub 
  box-shadow: -10px 0 27px 0px rgba(0, 0, 0, 0.11);
  position fixed
  top: 24px;
  width: 562px;
  left: 247px;
  height: 553px
  padding 20px 10px 10px 20px
  display none
.bg__class
  background url(../images/menu.jpg) white no-repeat bottom right
  background-origin: content-box;
.b-header-popup_menu
  width: 247px;
.row__img 
  max-width 100%
  width 100%
  height auto
.error__link
  color c-green
  &:visited 
    color c-green
.b-error__text
  text-align center
  line-height 22px
  margin-top 100px
.error__span
  font-size 16px 
  text-transform uppercase
  position relative 
  top -30px
.b-sidebar__off
  display none
.b-sidebar__catalog-wrapper.open
  .b-sidebar__catalog
    display block
  .b-button:after
    transform: scale(-1);
.search__result
  font-size 36px
.search__help 
  font-size 13px
.search__title
  margin-left 10px
.search__help
  display inline-block
  margin 0 0 60px 0
.b-prod-discount 
  color #767676 
  margin-right 10px
.b-product__disc
  font-size 15px 
  position absolute
  color black
  z-index 2
  left 8px 
  top 6px
  &:after 
    content ''
    border-top 55px solid #FDD000
    border-left 0px solid transparent
    border-right 55px solid transparent
    position absolute
    top -4px
    left -5px
    z-index -1
.b-product__star
  position absolute 
  right 7px
  top 7px
  trs()
.prod__star
  sprite($sprite-star2)
  display inline-block
  opacity 0
.b-product__star.active
  .prod__star
    sprite($sprite-star)
    display inline-block
    opacity 1
.b-product-preview:hover 
  .prod__star
    opacity 1
.b-header-search__left_p
  padding-left 0px
  position: relative;
  left: -1px;
.b-header-popup__search_wrap
  width 100%
  .b-header-popup__filter-select
    width 100%
  .b-header-popup__filter-select_catalog .selectize-input.full
    padding-left 20px 
  .selectize-control.single .selectize-input:after
    right 4px
  .b-header-popup__filter
    border none
  .input-active 
    background: transparent;
    border-left: 1px solid #E5E5E5;
    border-radius: 16px 0 0 0;
  .selectize-dropdown
    border: 1px solid #E5E5E5;
  .selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header
    padding 5px 20px
  .selectize-dropdown
    width: 140px !important;
  .selectize-dropdown-content .active 
    background linear-gradient(to left,  #fac10e 0%,#fbc902 30%,#fcd000 65%,#ffe800 100%);
.cabinet__wrap
  trs()
  opacity 0 
  visibility hidden
  position absolute
  left -134px
  z-index 10
.profile__menu
  background white
  shadow()
  padding 20px
  text-align left 
  width 200px
  top 25px
  li 
    padding 5px 0
    &:last-child
      border-top 1px solid #E5E5E5
      padding-top 10px
  li:first-child a:before
    content ''
    sprite($sprite-c-40)
    display inline-block
    vertical-align middle
    margin-right 5px
  li:nth-child(2) a:before
    content ''
    sprite($sprite-c-41)
    display inline-block
    vertical-align middle
    margin-right 5px
  li:nth-child(3) 
    padding-bottom 10px
    a:before
      content ''
      sprite($sprite-c-42)
      display inline-block
      vertical-align middle
      margin-right 5px
  li:last-child a:before
    content ''
    sprite($sprite-c-43)
    display inline-block
    vertical-align middle
    margin-right 5px
.cabinet__acc
  position relative
  &:hover .cabinet__wrap
    trs()
    opacity 1
    visibility visible
.profile__link 
  text-decoration none
.rec-img 
  width 100%
  max-width 100%
  trs()
.b-rec-wrap-link:hover img 
  transform scale(1.1)
  trs()
.b-grid__50 
  width 50%
.b-rec__descr-title
  color c-orange 
  font-size 20px
.b-rec__desrc-wrap
  position absolute
  bottom 0px
  left 0px
  z-index 1
  padding 30px 30px 20px 30px
.b-grid__col
  position relative
.b-rec__desrc-wrap
  display block
  &:visited
    color c-orange
    text-decoration none
    border none
.prep__time
  font-size 11px
  color white
  padding 0px
  li 
    line-height 23px
    &:first-child:after
      content ''
      sprite($sprite-time2)
      display inline-block
      vertical-align middle
      margin-left 15px
.b-rec__main-wrap
  position absolute
  right 0px 
  width 37%
  z-index 1
  padding 60px 60px 0 50px
.prep__main
  &:before 
    content ''
    display inline-block
    sprite($sprite-time1)
    vertical-align middle
    margin-right 15px
  li 
    font-size 11px
    line-height 23px
    color white
  ul 
    padding 0px
.rec__descr-text
  font-size 14px
  color white
  line-height 22px
.b-rec-wrap-link__top
  position relative
  &:before 
    content ''
    display block
    position absolute
    top 0px 
    left 0 
    background url(../images/rec0.png) no-repeat center
    width 158px
    height @width
    z-index 2
.page__nav-wrap 
  padding 30px 0 20px 0
  text-align center
  width 100%
.page__nav
  a 
    color black 
    width 40px
    height @width 
    line-height @width
    border-radius(50%)
    font-size 14px
    color black
    display block
    text-align center
    text-decoration none
    margin 0 7px
    &:hover 
      background c-orange
  li 
    display inline-block
    &:last-child a
      background transparent
.nav__active
  a 
    background c-orange
// Blog 
.b-blog-wrap
  margin 31px 0 0 0
.b-blog
  border-top 1px solid #e5e5e5
  padding 45px 0 0 0
.b-blog__img
  overflow hidden
  img 
    trs()
.b-blog__iem-wrap
  width 23%
  border-radius(5px)
  overflow hidden
  margin 0 2.6% 30px 0
  shadow()
  &:nth-child(4n)
    margin-right 0px
  &:hover 
    trs()
    box-shadow 0 0 15px rgba(0,0,0, 0.3)
    .b-blog__img img 
      trs()
      transform scale(1.1)
.link__wrap__h2 
  text-decoration none
.b-blog__img img 
  width 100%
  max-width 100%
.col__1
.col__2
  width 50%
.col__2
  text-align right
.feed
  background #D0D0D0;
  font-size 13px
  text-align center
  color black
  border-radius(4px)
  width 33px
  height 25px
  line-height @height
  display inline-block
  position relative 
  &:after
    content ''
    display block
    position absolute
    right 40%
    bottom -8px
    border-top 8px solid #d0d0d0
    border-left 0px solid transparent
    border-right 8px solid transparent
.active__feed
  background c-orange
  &:after 
    border-top 8px solid c-orange
    border-left 0px solid transparent
    border-right 8px solid transparent
.ic__class
  font-size 11px
  color c-grey
  &:before
    content '' 
    display inline-block
    vertical-align middle
    margin-right 10px
.desert
  &:before
    sprite($sprite-c-23)
.desert2
  &:before
    sprite($sprite-c-24)
.desert3   
  &:before
    sprite($sprite-c-22)
.b-blog__descr
  padding 0 25px 20px 25px
.b-blog__title h2 
  font-size 18px
.b-blog__head
  padding 13px 0
.b-blog__bq
  font-size 14px
  color #d0d0d0 
.b-blog__cit
  margin 15px 0 20px 0
.b-blog__date 
  padding 15px 0 0 0
  border-top 1px solid #E8E8E8
.date__time 
  color #d0d0d0
  font-size 13px
.b-blog__slide
  margin-bottom 10px
  margin-left -43px 
  margin-right -43px
  img 
    width 100%
    max-width 100%
.b-blog__col__26
  display inline-block
  vertical-align top
  width 26%
.b-blog__col_88
  width 88%
  margin 0px
.b-blog__col_m12
  margin-left 12%
.b-blog__col__48
  display inline-block
  vertical-align top
  width 48%
.b-blog__col__74
  width 74%
.b-blog__article
  font-size 13px
  color #ABAAAA
  text-decoration none
  display inline-block
  margin-bottom 10px
  position relative 
  top -10px
  &:visited
    color #ABAAAA
.b-blog__h1
  font-size 48px
  color black
.b-blog__col_10
  width 30%
  .col__1
    width 60%
  .col__2 
    width 20%
.next__art
  margin-left 12%
.b-blog__main-content
  margin-top 20px
.b-blog__art-img
  width 100%
  max-width 100%
.blog__circle 
  width 80px
  height @width
  line-height @height
  font-size 44px
  font-family fontHelveticaThin
  background #eeeeee
  border-radius(50%)
  text-align: center
.blog__p
  font-size 14px
  line-height 20px
  width 81%
  margin-left 20px
.b-blog__text
  margin 10px 0
textarea 
  resize none
.form__input
.form__textarea
  width 100%
  background #f0efec
  border none 
  padding 15px 20px
  border-radius(30px)
  font-size 18px
  color grey
  font-family fontHelveticaThin
.form__textarea
  height 150px
  margin-top 20px
  border-radius(10px)
  margin-bottom 20px
.b-blog__form-title
  font-size 30px
  color #0e0e0e
  margin 25px 0
  font-family fontHelveticaThin
.b-blog__comment
  margin 40px 0 30px 0
  &:after 
  &:before
    margin: 10px 0 0 0;
    content: '';
    background: url("../images/footer-wave.png") 50% 50% repeat-x;
    display: block;
    width: 100%;
    height: 10px;
.autor__name
  font-size 12px
  color grey
.b-blog__name
  margin 10px 0 10px 0
  .col__2
    text-align left
.comment__text
  font-size 14px 
  margin 0px
  line-height 22px
  span 
    font-weight bold
    font-family fontHelveticaLight
.b-blag__comment-area
  margin-bottom 20px
.b-blog__user-comment
  border-bottom 1px solid #DEDCDC
  margin-top 10px
  &:last-child
    border none
.small__rate
  padding 0px
.small__rate__link
  sprite($sprite-small-star)
  display block
.small__rate__item
  display inline-block
.active__star span
  sprite($sprite-small-star-active)
.small__rate__link:hover 
  cursor default
//   sprite($sprite-small-star-active) 
.favourite__print
  margin 20px 0
.b-blog__row .favourite__print
  position relative 
.favourite
.print 
.repeat
  font-size 14px 
  color black
  display inline-block
  text-decoration none
  margin-right 10px
.repeat:before
  sprite($sprite-repeat)
  content ''
  display inline-block
  vertical-align: middle
  margin-right 5px
.favourite:before
  sprite($sprite-print1)
  content ''
  display inline-block
  vertical-align: middle
  margin-right 5px
.print:before
  sprite($sprite-print)
  content ''
  display inline-block
  vertical-align: middle
  margin-right 5px
.social__item
  display inline-block
  margin-right 5px
.social__link
  display inline-block
.fb 
  sprite($sprite-soc1)
.vk 
  sprite($sprite-soc2)
.tw 
  sprite($sprite-soc3)
.yt 
  sprite($sprite-soc4)
.yd 
  sprite($sprite-soc5)
.socials
  padding 0px
  margin 20px 0 0 0
.b-blog__row .socials
  position relative
.b-header-popup__filter_catalog div 
.b-header-popup__filter_catalog input
.b-header-popup__filter_catalog select
  cursor pointer
.js-custom-select2
  input:hover
  input:focus 
    curosor pointer !important
  .selectize-input input
    color: transparent !important;
  .selectize-input input
    position: absolute !important;
    top: -9999px;
    left: -9999px;
.b-rec__col__63
  display inline-block
  width 63%
  img 
    width 100%
    max-width 100%
.b-rec__col__37
  width 37%
.b-rec__header 
  shadow()
  margin 0 0 29px 0
.b-rec__text
  font-size 14px
  line-height 20px
  margin-bottom 40px
.for__input_rec
  width 69%
  vertical-align middle
.big__rate:not(old) > label:hover:before,
.big__rate:not(old) > label:hover ~ label:before,
.big__rate:not(:hover) > :checked ~ label:before
  opacity : 1
  cursor pointer
.big__rate:not(old) > label:before
  content '';
  display block;
  opacity  0;
  transition opacity 0.2s linear;
  sprite($sprite-big-star-active)
.big__rate:not(old) > label
  display: block;
  float: right;
  position: relative;
  sprite($sprite-big-star)
.big__rate:not(old) > input
  margin-right : -100%;
  opacity      : 0;
.big__rate 
  width 135px
.big__rate__item
  display inline-block
  &:hover 
    .big__rate__link 
      sprite($sprite-big-star-active)
.big__rate__link
  sprite($sprite-big-star)
  display inline-block
.big__rate_active a 
  sprite($sprite-big-star-active)
.form__rate 
  display inline-block
  width 31%
  text-align right
  vertical-align middle
.rate__text
  font-size 13px
  display inline-block
  margin-top 5px
.big__rate 
  padding 0px
.big__rate-wrap
  width 135px
  text-align center
  display inline-block
.prep__main_rec
  &:before
    sprite($sprite-clock)
  li 
    color #767676
.rec__text
  font-size 13px
  line-height 20px
.rec__h1
  font-size 20px
  margin-top 30px
.b-rec__descr
  padding 10px 50px
.b-rec__sidebar
  width 37%
  display inline-block
  vertical-align top
.b-blog__rec-content
  padding-right 30px
.b-products-block__rec
  padding: 20px 10px 20px 10px;
.b-table 
  font-size 14px
  margin-bottom 10px
  line-height 30px
  table 
    width 100%
    td:last-child
      color #808080
.b-rec__col
  shadow()
.b-rec__cont
  padding 30px
.b-rec__col
  margin-bottom 20px
.top__rec__text 
  display inline-block
  vertical-align middle
  width 66%
  margin-left 6%
.top__rec__link 
  font-size 13px
  color #808080
  text-decoration none
  vertical-align middle
.top__rec__img 
  display inline-block
  vertical-align middle
.top__rec 
  padding 0px
.top__rec__item
  margin-bottom 15px
.b-rec__cont_small
  padding 20px 30px 10px 30px
.mfp-close-btn-in .mfp-close
  color white
// Popup wrapper
.b-popup-wrapper
  overflow-y scroll
  position fixed 
  width 100%
  height @width
  background rgba(255, 156, 34, 0.69);
  left 0px 
  top 0px
.b-popup-card
  background white 
  padding 30px 50px
  width 877px
  box-shadow: 0 0 62px rgba(0, 0, 0, 0.2);
  margin-bottom 20px
.b-popup-comment
  margin-top 20px
  width 877px
  box-shadow: 0 0 62px rgba(0, 0, 0, 0.2);
.popup__h1
  font-size 36px
  font-family fontHelveticaThin
  line-height 45px
  margin 0 0 40px 0
.b-popup__col_1
  width 50%
.b-popup__col_2
  width 50%
  vertical-align top
.b-popup__descr
  font-size 18px
  margin 0 0 20px
  line-height 23px
.lists__item
  font-size 12px
  line-height 15px
.lists__element
  margin-bottom 10px
.b-popup-lists
  padding 0px
.b-popup_price 
  font-size 36px
  width 30%
.b-popup_preview
  width 70%
.b-product-preview_popup 
  padding: 10px 30px 10px 22px;
  border-radius(30px)
.b-button_plus_popup
  right 30px
  top 10px
.b-button_minus_popup
  right 30px
  top 25px
.b-product-preview__count_popup
  width 39%
  margin-left 10px
.b-button_popup
  width 100%
  position relative
  height 45px
  padding: 0 0px 0 14px;
  &:before
    content ''
    sprite($sprite-cart2)
    left 13px 
    top 13px
    z-index 2
    position absolute
.b-popup-lists
  margin 25px 0 0 0
.b-popup-product__wrapper
  padding 0 19px
.print__sup:before
  sprite($sprite-pog)
.b-prod__img 
  img 
    margin 25px 0 15px 0
    width 100%
    max-width 100%
.lists__item
  width 80%
  vertical-align middle
  display inline-block
  margin-left 15px
.lists__element
  &:first-child:before 
    content ''
    sprite($sprite-pop1)
    display inline-block
    vertical-align middle
    margin 10px 0
  &:nth-child(2):before 
    content ''
    sprite($sprite-pop2)
    display inline-block
    vertical-align middle
    margin 10px 0
  &:last-child:before 
    content ''
    sprite($sprite-pop3)
    display inline-block
    vertical-align middle
    margin 10px 0
.b-product-preview__incart_popup
  width 53%
.b-popup__row 
  &:after 
    margin: 40px 0 0 0;
    content: '';
    background: url("../images/footer-wave.png") 50% 50% repeat-x;
    display: block;
    width: 100%;
    height: 10px;
.b-popup__close
  sprite($sprite-close2)
  position absolute
  right 20px 
  top 20px
  outline: none;
  border none
  background-color transparent
.b-popup-card
  position relative
.b-products-slider__popup.slick-initialized
  padding-left: 10px;
  padding-right: 10px;
.b-products-slider__popup
  .b-product-preview_ashan
    width 215px 
  .b-product-preview__pic img
    width 60%
  .b-product-preview__pic
    height 150px
  .b-product-preview_ashan:hover 
    box-shadow none
  .slick-arrow
    margin 0px 20px 
    top -66px
  .slick-dots
    position relative 
    padding 0px 
    text-align center
    margin 10px 0 0 0
    button
      border none
      background transparent
    li 
      display inline-block
      margin 0 6px
      width 8px
      height @width 
      background #E0E0DF
      border-radius(50%)
    .slick-active
      background c-green
.b-comment-slider
  .b-products-slider__slider .slick-prev
    left 0px
  .b-products-slider__slider .slick-next 
    right 0px
  .b-products-slider__slider.slick-initialized
    padding-left: 96px;
    padding-right: 96px;
  .slick-dots
    position relative 
    padding 0px 
    text-align center
    margin 10px 0 0 0
    button
      border none
      background transparent
    li 
      display inline-block
      margin 0 6px
      width 8px
      height @width 
      background #E0E0DF
      border-radius(50%)
    .slick-active
      background c-green
.b-same__wrapper
  text-align center
  a 
    font-size 18px
.b-same__products
  display inline-block 
  background #f3f2f0
  border-radius(30px)
.b-popup__slider
  padding 45px 0 0 0
  width: 777px;
.button__tab
  font-size 18px
  border none 
  background transparent
  outline none
  border-radius(30px)
  padding: 17px
  trs()
.button__tab.active 
  background c-green
  color white
.b-blog_popup
  text-align center
.cart__col-1 
  width 18%
  vertical-align top
.cart__col-2 
  width 77%
  margin-left 5%
  position relative
.b-product-preview_border-cart
  padding 20px
  width 100%
  margin 0px
  margin-right 10px
  &:after 
    content ''
    width 20px 
    height 1px 
    background white
    position absolute
    display block
    bottom -1px
    z-index 1
    right 0px
.b-popu-card_cart
  .b-product-preview__pic
    height auto
  .b-products-block-top
    width 100%
  .b-product-preview__name 
    display block
    height auto
  .jspDrag
    background-color: #cfcfcf
    border-radius: 5px;
  .jspTrack
    background-color: #f0efec;
    border-radius: 5px;
  .jspVerticalBar
    width: 25px;
    background: none;
    padding 0px 8px 0px 8px;
    border-left 1px solid #e5e5e5
  .jspScrollable
    outline none
    .b-popup-cart__head
      border-right none
      margin-right 13px
    .b-popup-cart__content
      border-right none
      margin-right 0px
      padding-right 20px
.b-popu-card_cart
  width 429px
  padding 0px
.b-button_grey
  background #d0d0d0
  color black
  &:hover 
    color white
    background red
.cart__title 
  font-size 20px
.b-button_small
  font-size 12px
  height 20px
  line-height @height
.cart__top
  padding 20px 0px 20px 30px
  background white
.b-popup-cart
  max-height 720px
  position relative
.b-popup-cart__content-wrapper
  max-height 720px
.b-popup-cart__head
  margin-right 25px
  border-right 1px solid #e5e5e5
.cart__top__col1
  width 50% 
  text-align right
.b-popup-cart__content
  padding 15px 0px 20px 30px
  border-right 1px solid #e5e5e5
  margin-right 25px
.form__textarea_cart 
  height 70px
  font-size 13px
  border-radius (5px)
  padding 10px 20px
  line-height 20px 
  color black
  margin 10px 0
.add-by 
  font-size 14px
  color #767676
  margin 10px 0 0 0
.add-by__user
  margin-left 5px
  display inline-block
  text-decoration: none
.cart__title-item
  font-size 13px
.cart__cl-1
  font-size 13px
  display block
.cart__img-wrapper
  width 100%
.cart__img
  vertical-align top
.cart__cl
  width 50%
.cart__prod-title
  width 85%
  .search__title 
    font-size 20px
.cart__cl-50
  width 50%
.cart__deliv
  margin-top 10px
  padding-left 10px
.b-button_show_small
  font-size 14px
  padding 6px 10px 5px 10px
  &:after
    transform: rotateZ(135deg)
.b-cont__in_cart
  &:before 
    content ''
    sprite($sprite-com)
    display inline-block
    margin-right 5px
.cart-com-buttons
  button 
    margin-right 5px
.cart__comments_span 
  font-size 14px
  display block
  line-height 20px
  &:first-child
    color #767676
.cart__comments
  margin-top 10px
.cart__item
  border-bottom 1px solid #e5e5e5
  &:hover 
    border-bottom 1px solid transparent
.cart-discount 
  color #777777
  font-size 14px 
  text-decoration line-through
  display block
  line-height 3px
.b-product-preview__count_cart
  width 30%
  margin-left 20px
.b-button__del
  font-size 14px
  color #777
  margin-left 16px
  vertical-align middle
  &:before 
    content ''
    sprite($sprite-c-close)
    display inline-block 
    vertical-align middle
    margin 0 5px
.check__back
  font-size 14px
  color black
  text-decoration underline
  &:before 
    content ''
    sprite($sprite-back)
    display inline-block 
    vertical-align middle
    margin-right 5px
.check__title
  font-size 36px
  font-family fontHelveticaThin
  margin 25px 0
.check__total
  font-size 20px
  span 
    font-size 13px
.check__total-items
  margin-bottom 25px
.check__friends
  margin-bottom 30px
  line-height 23px
.b-button_check
  &:before
    content ''
    sprite($sprite-ok)
    display inline-block 
    vertical-align middle
    margin-right 6px
    position relative 
    top -2px
.b-button_big 
  height 50px
  line-height @height
.b-popu-card_check
  width 315px
  padding: 40px 0px 50px 50px;
  &:after 
    content ''
    background url(../images/bug.png)
    width 100%
    height 4px
    display block
    position absolute
    bottom -4px 
    left 0px
.check-rub
  display inline-block
  margin-left 5px
.b-popu-card_friends
  padding 0px
  width 430px
  .b-popup-cart__head
    width 100%
    border none 
    margin 0
    padding 0
  .b-products-block-top
    width 100%
    padding-left 20px
    padding-top: 25px;
    padding-bottom: 28px;
  .search__title
    font-size 16px
    display inline-block
  .cart__prod-title
    width 100%
.invite__link
  display inline-block
  text-align right
  width 47%
  span 
    background white
    border-radius (20px)
    color #434343
    font-size 12px
    padding 2px 10px
.b-button_close
  sprite($sprite-c-close)
  position relative 
  top -2px
  vertical-align middle
  margin 0 10px
.friends__table
  padding 20px 18px 30px 18px
  line-height 30px
  table
    width 100%
  td:first-child
    width 35px
.online
  color c-green
  font-size 11px
.offline 
  color #767676
  font-size 11px
.friend__connected
  font-size 24px
  font-family fontHelveticaThin
  padding 20px 0px
  margin 0 30px
  border-bottom 1px solid #e5e5e5
.connected
  sprite($sprite-connected)
.connected-to-cart 
  width 80%
  padding-left 30px
.b-product-preview__pic img
  width 100%
.b-popu-card_interval
  padding 0px
  width 498px
  .b-popup-cart__head
    width 100%
    border none 
    margin 0
    padding 0
  .b-products-block-top
    width 100%
    padding-bottom 26px
    padding-top 24px
  .search__title
    font-size 24px
    padding-left 15px
.interval__img-wrapper
  padding 40px 0
  text-align center
.interval__img
  padding 13px 18px  
  border 1px solid #e5e5e5
  display inline-block
  img 
    max-width 100%
.interval__table
  padding 0px 15px 40px 25px
  line-height 30px
  table 
    width 100%
    font-size 14px
.interval__price 
  color #767676
.interval__date
  border-radius (12px)
  padding 0px 10px
  text-decoration: none
  height 25px
  line-height @height
  &:before 
    content ''
    height 12px
    width @height
    border-radius (50%)
    background #EFEAEA
    display inline-block
    vertical-align: middle
    margin-right 10px
    position relative 
    top -1px
  &:hover 
    background c-orange
.interval__time
  padding-right 20px
.b-popu-card_intervals
  padding 0px
  width 645px
  .b-popup-cart__head
    width 100%
    border none 
    margin 0
    padding 0
  .b-products-block-top
    width 100%
    padding-bottom 26px
    padding-top 24px
  .search__title
    font-size 24px
    padding-left 15px
.intervals__coll
  width 46%
  &:first-child
    margin-right 7%
.interval__img-100
  width 100%
.intervals__content
  padding 0 35px 30px 40px
.intervals__time
  font-size 14px
  span:last-child
    color #767676
    display block
.intervals__price
  font-size 23px
  background #f0efec
  display inline-block
  border-radius (25px)
  padding 3px 10px
  font-family fontHelveticaThin
  width 35%
  text-align center
.free__price
  font-size 14px
  position relative 
  top -3px
.intervals__time
  width 65%
.intervals 
  margin-bottom 13px
.intervals__all
  color #767676
  font-size 14px
.b-popu-card_accepted
  width 430px
  padding 0px
  .b-popup-cart__head
    width 100%
    border none 
    margin 0
    padding 0
  .b-products-block-top
    width 100%
    padding-bottom 60px
    padding-top 60px
  .search__title
    font-size 24px
    padding-left 15px
  .cart__prod-title
    width 100%
.icon-a
  sprite($sprite-a1)
  margin 0 auto
.icon-b
  sprite($sprite-a2)
  margin 0 auto
.icon-c
  sprite($sprite-a3)
  margin 0 auto
.icon-d
  sprite($sprite-a4)
  margin 0 auto
.icon-e
  sprite($sprite-a5)
  margin 0 auto
.accepted__title 
  font-size 24px
  border-bottom 1px solid #e5e5e5
  margin 0 0 15px 0
  padding 0 0 10px 0
  position relative
  &:after 
    content ''
    display block
    position absolute
    width 20px 
    height 1px 
    background white
    right 0px
    bottom -1px
.accepted__desc
  font-size 14px
.accepted__content
  padding 30px 40px 50px 40px
  .b-button_check
    &:before 
      top 0px
      left -4px
.accepted__wrapper
  padding-left 20px
.form__input_accepted
  font-size 14px 
  padding 7px 20px
  margin 15px 0 10px 0
  width: 100%;
  background: #f0efec;
  border-radius: 30px
  display block
.accepted__phone
  font-size 24px
  display block
  margin-top 5px
.form__wrapper
  background #f0efec
  border-radius 20px
  margin 15px 0 20px 0
  .b-header-search__left
    width 10%
    padding 0px
    &:after 
      right 10px
  .b-header-search__center
    width 71%
.accepted__input
  border none
  background #f0efec
  padding 10px 0
.b-button__close-popup
  sprite($sprite-c-popup)
  position absolute
  right -40px
  top 0px
.b-popu-card_recovery
  width 430px
  padding 0px
  .cart__prod-title
    width 75px
    margin 0 20px 0 25px
    display inline-block
    vertical-align: middle
    text-align left
  .recovery__title
    width 50%
    display inline-block
    vertical-align: middle
  .accepted__content
    padding-bottom 22px
  .b-popup-cart__head
    width 100%
    border none 
    margin 0
    padding 0
  .b-products-block-top
    width 100%
    padding-bottom 20px
    padding-top 20px
  .search__title
    font-size 24px
    padding-left 15px
.mail__example
  font-size 14px 
  padding-left 20px
  color #767676
  margin 0 0 10px 0
  display block
.accepetd__fotter
  background #f0efec
  text-align center
  font-size 13px
  padding 30px 0
  color #767676
.recovery__title
  font-size 25px
.b-popu-card_recovery_authorise
  width 642px
.forget
  font-size 13px
  margin-left 117px
.rec__password
  span 
    display inline-block
    margin 0px
.accepetd__col
  display inline-block
  vertical-align top
.accepted__60
  width 60%
.accepted__40
  width 40%
  padding-left 30px
  span 
    font-size 13px
    color #767676
.socials__login
  padding 0px 
.socials__login__item
  margin 0 0 12px 0
  &:first-child .socials__login__link
    sprite($sprite-soc6)
    display block
  &:nth-child(2) .socials__login__link
    sprite($sprite-soc7)
    display block
  &:last-child .socials__login__link
    sprite($sprite-soc8)
    display block
.b-product-textarea
.cart-com-buttons
  display none
.b-product-preview.open
  .b-product-textarea
  .cart-com-buttons
    display block
// Lk
.lk__title
  font-size 36px
  font-family fontHelveticaThin
  padding 40px 30px 30px 30px
.b-lk__content
  border 1px solid #e6e6e6
  margin 30px 0 0 0
.lk__col2
  width 72%
  display inline-block
  vertical-align: top
  padding 0 0 60px 70px
.lk__title_reset 
  padding-left 0px
.lk__col1
  padding-bottom 100px
  display inline-block
  vertical-align: top
  width 28%
  background linear-gradient(to right,  #f8be00 0%,#fbc902 30%,#fcd000 65%,#FFC800 100%);
.lk__item 
  vertical-align middle
  margin 0 20px 0 30px
  color white
.lk__link_active
  background #353535
  color white !important
.lk__link 
  display block
  font-size 18px
  text-decoration none
  color black
  padding 10px 0
  &:hover 
    color white 
    background #353535
  &:first-child .lk__item
    sprite($sprite-lk)
    display inline-block
  &:nth-child(2) .lk__item
    sprite($sprite-lk2)
    display inline-block
  &:nth-child(3) .lk__item
    sprite($sprite-lk3)
    display inline-block
  &:nth-child(4) .lk__item
    sprite($sprite-lk4)
    display inline-block
  &:nth-child(5) .lk__item
    sprite($sprite-lk5)
    display inline-block
  &:nth-child(6) .lk__item
    sprite($sprite-lk6)
    display inline-block
  &:last-child .lk__item
    sprite($sprite-lk7)
    display inline-block
.b-button__edit 
  sprite($sprite-lkb2)
  margin-right 5px
  vertical-align middle
.b-button__remove 
  sprite($sprite-lkb1)
  margin-right 15px
  position relative 
  top -2px
.lk__input1 
  display inline-block
  width 22%
  font-size 18px
.lk__input2
  display inline-block 
  font-size 15px 
  color #767676
  width 70%
.lk__address
  margin 0 0 30px 0
  &:last-child
    margin 0
.form__col1
  display inline-block
  width 36%
.form__input_short
  width 134px
  display inline-block
.form__label
  display block
  margin 0 0 15px 0
.span__label
  width 125px
  display inline-block
.form__input_middle
  width 280px
.span__label_short 
  width 90px
.lk__form-descr
  color #898989
  font-size 13px
  display inline-block
  margin-bottom 15px
  margin-left 18%
.lk__add-address
  .b-button 
    margin-left 126px
    width 280px
    text-align left
.form__input_tooltip
  &:after
    content ''
    sprite($sprite-ques)
    display inline-block
.lk__history
  padding 80px 0 20px 0
  line-height 22px
  width 92%
.history__order1
  font-size 18px
  display block
  text-decoration none
.history__order2
  font-size 15px 
  color #898989
  display block
.lk__history__col1 
  width 70%
  display inline-block
  vertical-align top
.lk__history__col2
  width 10%
  display inline-block
  vertical-align top
.lk__history__col3
  padding-left 83px
  width 20%
  display inline-block
  vertical-align top
  text-align center
.history__sub
  font-size 25px
  font-family fontHelveticaThin
.history__total
  font-size 14px
.b-button_remove 
  color #898989
  font-size 14px 
  text-align left
  &:before
    content ''
    sprite($sprite-remove)
    display inline-block
    margin-right 15px
    position absolute
    left -25px
    top 16px
.lk__items__col2
  width 50%
  display inline-block
  vertical-align: top
.lk__items__col1
  width 50%
  display inline-block
  vertical-align: top
  border-top 1px solid #e5e5e5
.height-auto
  height auto
  padding 0px
.d-block
  display block
.b-item__count
  font-size 24px
  font-family fontHelveticaThin
  margin-left 24px
.history__items
  padding 30px 0
.lk__history-item
  border-bottom 1px solid #e5e5e5
  &:last-child 
    border none
.b-popup-chekc_lk
  box-shadow: 0 2px 11px rgba(0,0,0,0.18);
  position relative
  margin-left 60px
  padding-top 12px
.lk__orders
  border-top 1px solid #e5e5e5
  width 93%
.lk__order
  border-bottom 1px solid #e5e5e5
  padding 35px 0px 35px 0
  line-height 22px
  &:last-child
    border none
.b-button_gr
  color c-green
  &:before 
    sprite($sprite-gr)
.b-button_red
  color #ed1c24
  &:before 
    sprite($sprite-red)
.favourite1
  display block
.lk__list-title
  font-size 24px
  font-family fontHelveticaThin
  display inline-block
  margin 45px 0 20px 0
.form__input_m
  margin-right 10px
.lk__custom-lists
  padding 0px
.lk__custom-lists
  ul
    padding 0px
    margin-bottom 0px
.form__list
  margin-bottom 30px
.lk__lists__link
  font-size 18px
.custom-num
  font-size 12px
  width 25px 
  height @width
  line-height @width
  background c-orange
  border-radius(50%)
  display inline-block
  text-align center
  vertical-align: middle
  margin-right 20px
.lk__lists__item
  line-height 35px
.lk__select__link
  font-size 14px
  margin-right 10px
  &:first-child
    text-decoration none
    &:before 
      content ''
      width 15px
      height 15px 
      background #f3f2f0
      display inline-block
      vertical-align: middle
      border-radius(50%)
      margin-right 10px
.b-filter__result_reset
  margin-left 0px 
.total-sum__items 
  font-size 14px 
  color #898989
  padding-left 20px
  span 
    font-size 18px
    font-family fontHelveticaThin
.fav-item
  width 46%
  margin-right 3.5%
.b-product-preview__count_short
  width: 24%;
  margin-left: 10px;
.fav-item
  display inline-block
  .b-product-preview_border-cart
    padding: 40px 20px;
  .b-product__star
    right 10px 
    top 10px
  .b-count__in
    padding 2px 18px
  .prod__star
    sprite($sprite-m-star)
    display block
    opacity 1
  .b-product-preview_border-cart:after
    display none
  .cart__col-1
    width 14%
  .cart__col-2
    margin-left 11%
    width 72%
.separ
  height 1px
  width 93%
  background #e5e5e5
  border none
  margin-bottom 3px
body .fav__checkbox
  display inline-block
  margin-right 10px
  position absolute
  left -20px
  top 1px
.lk__custom-lists_m
  margin 0px