c-orange = #f1c40f
c-green = #2dc467
c-grey = #888888
d-orange = #fdd000
c-d-grey = #767676

sprite1 = url('../images/sprite.png');
spriteSize = 250px;

fontHelveticaLight = 'HelveticaNeueCyr-Light';
fontHelveticaThin = 'HelveticaNeueCyr-Thin';

shadow()
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);
trs()
  transition ease-in-out .2s
trs2()
  transition ease-in-out .5s