doctype
html(lang='ru')
  include head.jade
  body
    #b-layout
      .b-wrapper
        include header.jade
        .b-blog-wrap.b-ib-wrapper
          .b-blog.b-ib-wrapper
            .b-blog__iem-wrap.b-ib-wrapper
              a(href="").b-blog__img
                img(src="images/blog.jpg", alt="")
              .b-blog__descr
                .b-blog__head.b-ib-wrapper
                  .col__1.b-ib
                    span.ic__class.desert3 Десерты
                  .col__2.b-ib
                    span.feed.active__feed 12
                .b-blog__title
                  a(href="#").link__wrap__h2 
                    h2 Что носить в ближайшие полгода: Советы стилистов
                .b-blog__cit 
                  span.b-blog__bq Загадка на загадке
                .b-blog__date 
                  span.date__time 2 дня назад, 18:30
            .b-blog__iem-wrap.b-ib-wrapper
              a(href="").b-blog__img
                img(src="images/blog2.jpg", alt="")
              .b-blog__descr
                .b-blog__head.b-ib-wrapper
                  .col__1.b-ib
                    span.ic__class.desert Десерты
                  .col__2.b-ib
                    span.feed 12
                .b-blog__title
                  a(href="#").link__wrap__h2 
                    h2 Что носить в ближайшие полгода: Советы стилистов
                .b-blog__cit 
                  span.b-blog__bq Загадка на загадке
                .b-blog__date 
                  span.date__time 2 дня назад, 18:30
            .b-blog__iem-wrap.b-ib-wrapper
              a(href="").b-blog__img
                img(src="images/blog.jpg", alt="")
              .b-blog__descr
                .b-blog__head.b-ib-wrapper
                  .col__1.b-ib
                    span.ic__class.desert Десерты
                  .col__2.b-ib
                    span.feed 2
                .b-blog__title
                  a(href="#").link__wrap__h2 
                    h2 Что носить в ближайшие полгода: Советы стилистов
                .b-blog__cit 
                  span.b-blog__bq Загадка на загадке
                .b-blog__date 
                  span.date__time 2 дня назад, 18:30
            .b-blog__iem-wrap.b-ib-wrapper
              a(href="").b-blog__img
                img(src="images/blog3.jpg", alt="")
              .b-blog__descr
                .b-blog__head.b-ib-wrapper
                  .col__1.b-ib
                    span.ic__class.desert Десерты
                  .col__2.b-ib
                    span.feed.active__feed 12
                .b-blog__title
                  a(href="#").link__wrap__h2 
                    h2 Что носить в ближайшие полгода: Советы стилистов
                .b-blog__cit 
                  span.b-blog__bq Загадка на загадке
                .b-blog__date 
                  span.date__time 2 дня назад, 18:30
            .b-blog__iem-wrap.b-ib-wrapper
              a(href="").b-blog__img
                img(src="images/blog.jpg", alt="")
              .b-blog__descr
                .b-blog__head.b-ib-wrapper
                  .col__1.b-ib
                    span.ic__class.desert Десерты
                  .col__2.b-ib
                    span.feed.active__feed 12
                .b-blog__title
                  a(href="#").link__wrap__h2 
                    h2 Что носить в ближайшие полгода: Советы стилистов
                .b-blog__cit 
                  span.b-blog__bq Загадка на загадке
                .b-blog__date 
                  span.date__time 2 дня назад, 18:30
            .b-blog__iem-wrap.b-ib-wrapper
              a(href="").b-blog__img
                img(src="images/blog3.jpg", alt="")
              .b-blog__descr
                .b-blog__head.b-ib-wrapper
                  .col__1.b-ib
                    span.ic__class.desert Десерты
                  .col__2.b-ib
                    span.feed 12
                .b-blog__title
                  a(href="#").link__wrap__h2 
                    h2 Что носить в ближайшие полгода: Советы стилистов
                .b-blog__cit 
                  span.b-blog__bq Загадка на загадке
                .b-blog__date 
                  span.date__time 2 дня назад, 18:30
            .b-blog__iem-wrap.b-ib-wrapper
              a(href="").b-blog__img
                img(src="images/blog.jpg", alt="")
              .b-blog__descr
                .b-blog__head.b-ib-wrapper
                  .col__1.b-ib
                    span.ic__class.desert Десерты
                  .col__2.b-ib
                    span.feed 2
                .b-blog__title
                  a(href="#").link__wrap__h2 
                    h2 Что носить в ближайшие полгода: Советы стилистов
                .b-blog__cit 
                  span.b-blog__bq Загадка на загадке
                .b-blog__date 
                  span.date__time 2 дня назад, 18:30
            .b-blog__iem-wrap.b-ib-wrapper
              a(href="").b-blog__img
                img(src="images/blog2.jpg", alt="")
              .b-blog__descr
                .b-blog__head.b-ib-wrapper
                  .col__1.b-ib
                    span.ic__class.desert2 Десерты
                  .col__2.b-ib
                    span.feed.active__feed 12
                .b-blog__title
                  a(href="#").link__wrap__h2 
                    h2 Что носить в ближайшие полгода: Советы стилистов
                .b-blog__cit 
                  span.b-blog__bq Загадка на загадке
                .b-blog__date 
                  span.date__time 2 дня назад, 18:30
          .page__nav-wrap.b-ib
            ul.page__nav
              li.nav__active
                a(href="") 1
              li
                a(href="") 2
              li
                a(href="") 3
              li
                a(href="") 4 
              li
                a(href="") 5
              li
                a(href="") Дальше
        include footer.jade
    include scripts.jade