doctype
html(lang='ru')
  include head.jade
  body
    #b-layout
      .b-wrapper
        include header.jade
        .b-blog-wrap.b-ib-wrapper
          .b-blog__content
            .b-blog__slide
              img(src="images/blog0.jpg", alt="")
            .b-blog__row.b-ib-wrapper
              .b-blog__col.b-ib.b-blog__col__26
                ul.socials
                  li.social__item
                    a.social__link.fb(href="")
                  li.social__item
                    a.social__link.vk(href="")
                  li.social__item
                    a.social__link.tw(href="")
                  li.social__item
                    a.social__link.yt(href="")
                  li.social__item
                    a.social__link.yd(href="")
                .favourite__print
                  a(href="").favourite В избранное
                  a(href="").print Распечатать
              .b-blog__col.b-ib.b-blog__col__48
                .b-blog__head.b-ib-wrapper.b-blog__col_10
                  .col__1.b-ib
                    span.ic__class.desert2 Десерты
                  .col__2.b-ib
                    span.feed.active__feed 12
                .b-blog__h1 Что носить в ближайшие полгода: Советы стилистов
                .b-blog__cit 
                  span.b-blog__bq Загадка на загадке
                .b-blog__date 
                  span.date__time 2 дня назад, 18:30
            .b-blog__row.b-ib-wrapper
              .b-blog__col.b-blog__col__26
                a(href="").b-blog__article Предыдущая статья
                .b-blog__iem-wrap.b-ib-wrapper.b-blog__col_88
                  .b-blog__img
                    img(src="images/blog2.jpg", alt="")
                  .b-blog__descr
                    .b-blog__head.b-ib-wrapper
                      .col__1.b-ib
                        span.ic__class.desert2 Десерты
                      .col__2.b-ib
                        span.feed.active__feed 12
                    .b-blog__title
                      a(href="#").link__wrap__h2 
                        h2 Что носить в ближайшие полгода: Советы стилистов
                    .b-blog__cit 
                      span.b-blog__bq Загадка на загадке
                    .b-blog__date 
                      span.date__time 2 дня назад, 18:30
              .b-blog__col.b-blog__col__48
                .b-blog__main-content
                  img(src="images/art.jpg", alt="").b-blog__art-img
                  .b-blog__text
                    span.blog__circle.b-ib 1
                    p.b-ib.blog__p Первым делом в чашу миксера насыпаем два вида сахара по 100 грамм (белый+тростниковый). Можно взять 200 любого из них, но смеси всегда вкуснее, согласны? Следом мягкое сливочное масло (100 гр, жирность 82% и никак не ниже).
                  img(src="images/art1.jpg", alt="").b-blog__art-img
                  .b-blog__text
                    span.blog__circle.b-ib 2
                    p.b-ib.blog__p Первым делом в чашу миксера насыпаем два вида сахара по 100 грамм (белый+тростниковый). Можно взять 200 любого из них, но смеси всегда вкуснее, согласны? Следом мягкое сливочное масло (100 гр, жирность 82% и никак не ниже).
                  img(src="images/art3.jpg", alt="").b-blog__art-img
                  .b-blog__text
                    span.blog__circle.b-ib 3
                    p.b-ib.blog__p Первым делом в чашу миксера насыпаем два вида сахара по 100 грамм (белый+тростниковый). Можно взять 200 любого из них, но смеси всегда вкуснее, согласны? Следом мягкое сливочное масло (100 гр, жирность 82% и никак не ниже).
                .b-blog__form
                  .b-blog__comment 
                    .b-blog__form-title Комментарии
                      .b-blog__user-comment
                        .b-blog__name.b-ib-wrapper
                          .col__1.b-ib 
                            span.autor__name Купер Денис:  6 сентября 2015
                          .col__2.b-ib 
                            ul.rate.small__rate
                              li.small__rate__item.active__star
                                a(href="").small__rate__link
                              li.small__rate__item.active__star
                                a(href="").small__rate__link
                              li.small__rate__item.active__star
                                a(href="").small__rate__link
                              li.small__rate__item.active__star
                                a(href="").small__rate__link
                              li.small__rate__item
                                a(href="").small__rate__link
                        .b-blag__comment-area
                          p.comment__text <span>Достоинства:</span> Пункт самовывоза находится в центре Москвы в 5 минутах ходьбы от метро , хорошее и быстрое обслуживание 
                          p.comment__text <span>Недостатки:</span> Не было
                          p.comment__text <span>Комментарий:</span> Вежливый менеджер по телефону забронировал мне товар ,sennheiser mx 170 две штуки , на следующий день товар уже был в пункте самовывоза
                      .b-blog__user-comment
                        .b-blog__name.b-ib-wrapper
                          .col__1.b-ib 
                            span.autor__name Купер Денис:  6 сентября 2015
                          .col__2.b-ib 
                            ul.rate.small__rate
                              li.small__rate__item.active__star
                                a(href="").small__rate__link
                              li.small__rate__item.active__star
                                a(href="").small__rate__link
                              li.small__rate__item.active__star
                                a(href="").small__rate__link
                              li.small__rate__item
                                a(href="").small__rate__link
                              li.small__rate__item
                                a(href="").small__rate__link
                        .b-blag__comment-area
                          p.comment__text <span>Достоинства:</span> Пункт самовывоза находится в центре Москвы в 5 минутах ходьбы от метро , хорошее и быстрое обслуживание 
                          p.comment__text <span>Недостатки:</span> Не было
                          p.comment__text <span>Комментарий:</span> Вежливый менеджер по телефону забронировал мне товар ,sennheiser mx 170 две штуки , на следующий день товар уже был в пункте самовывоза
                  .b-blog__form-title Оставить комментарий
                  form(action="")
                    input.form__input(type="text", placeholder='Ваше имя')
                    textarea.form__textarea(name="message", placeholder='Ваш камментарий')
                    button.b-button.b-button_green Оставить комментарий
              .b-blog__col.b-blog__col__26
                a(href="").b-blog__article.next__art Следующая статья
                .b-blog__iem-wrap.b-ib-wrapper.b-blog__col_88.b-blog__col_m12
                  .b-blog__img
                    img(src="images/blog2.jpg", alt="")
                  .b-blog__descr
                    .b-blog__head.b-ib-wrapper
                      .col__1.b-ib
                        span.ic__class.desert2 Десерты
                      .col__2.b-ib
                        span.feed.active__feed 12
                    .b-blog__title
                      a(href="#").link__wrap__h2 
                        h2 Что носить в ближайшие полгода: Советы стилистов
                    .b-blog__cit 
                      span.b-blog__bq Загадка на загадке
                    .b-blog__date 
                      span.date__time 2 дня назад, 18:30
        include footer.jade
    include scripts.jade