doctype
html(lang='ru')
  include head.jade
  body
    #b-layout
      .b-wrapper
        include header.jade
        .b-catalog.b-ib-wrapper
          .b-catalog__left.b-ib-wrapper
            .b-sidebar__delivery
              .b-delivery__content
                .b-img-wrapper
                  img(src="images/demo/main-sections_auchan.jpg", alt="")
              .b-delivery__close Ближайшая доставка: 
                span 15:00-17:00
              .b-delivery__interval
                a(href="").b-button.b-button_delivery Все интервалы
                a(href="").b-button.b-button_delivery Дополнительно
            .b-sidebar__catalog-wrapper
              .b-sidebar__catalog.b-sidebar__catalog_white
                .b-catalog__favorite
                  ul.catalog__acordion.catalog__acordion_new-icons
                    li.catalog__list 
                      a(href="#").catalog__title.result__item Товары со скидками
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list 
                      a(href="#").catalog__title.result__item Акции
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list 
                      a(href="#").catalog__title.result__item Избранное
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Продукты питания
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Бытовая химия
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Детские товары
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Косметика и гигиена
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Зоомагазин
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Электротовары
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Остальное
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
          .b-catalog__right.b-ib-wrapper
            .b-content__bread
              ul.b-bread
                li.bread__list
                  a.bread__item(href="") Главная
                li.bread__list
                  a.bread__item(href="") Продукты
                li.bread__list
                  a.bread__item(href="") Вост кухня
                li.bread__list Кабачки
            .b-catalog__content.b-ib.b-catalog__all
              .b-content__block.b-ib-wrapper
                .b-products-block-top.b-ib-wrapper.bg_reverse
                  .b-products-block-top__left.b-ib
                      .b-products-block-top__title
                        <span class="b-icon_hot"></span>
                        | Молоко сливки молочные продукты
                  .b-products-block-top__right.b-ib
                    a(href="").b-button.b-button_show Смотреть все
              .b-all__item
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
            .b-catalog__content.b-ib.b-catalog__all
              .b-content__block.b-ib-wrapper
                .b-products-block-top.b-ib-wrapper
                  .b-products-block-top__left.b-ib
                      .b-products-block-top__title
                        <span class="b-icon_hot"></span>
                        | Молоко сливки молочные продукты
                  .b-products-block-top__right.b-ib
                    a(href="").b-button.b-button_show Смотреть все
              .b-all__item
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
            .b-catalog__content.b-ib.b-catalog__all
              .b-content__block.b-ib-wrapper
                .b-products-block-top.b-ib-wrapper
                  .b-products-block-top__left.b-ib
                      .b-products-block-top__title
                        <span class="b-icon_hot"></span>
                        | Молоко сливки молочные продукты
                  .b-products-block-top__right.b-ib
                    a(href="").b-button.b-button_show Смотреть все
              .b-all__item
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
                .b-products-slider__item.b-products-slider__item_responsive
                  .b-product-preview.b-product-preview_border.b-ib-wrapper
                    .b-product__count.b-ib 
                      span.b-count__in 1 шт. в корзине
                    .b-product-preview__pic.b-ib
                      a(href="")
                        img(src="images/demo/product-preview-1.jpg" alt="")
                    .b-product-preview__name.b-ib
                      a(href="")
                        | Молоко кокосовое
                        | Suzi-Wan 200мл
                    .b-product-preview__price.b-ib
                      | 258 <span class="b-rouble">&#8381;</span>
                    .b-product-preview__buy.b-ib
                      form(action="")
                        .b-product-preview__count.b-ib
                          input(type="text" value='1').b-product-preview__input
                          button.b-button.b-button_plus +
                          button.b-button.b-button_minus –
                        .b-product-preview__incart.b-ib
                          button(type="submit").b-button.b-button_green В корзину
        include footer.jade
    //- include popup.jade
    include scripts.jade