//-jade footer.jade
<!-- Footer -->
footer.b-footer.b-ib-wrapper
  .b-footer-steps.b-ib-wrapper
    .b-footer-steps__step.b-ib(style="background-image: url('images/footer-step_1.jpg')")
      .b-footer-steps__info
        .b-footer-steps__title Выберем самые свежие продукты!
        .b-footer-steps__text Заказывайте товары на дом с вашего смартфона в любой момент
    .b-footer-steps__step.b-ib(style="background-image: url('images/footer-step_2.jpg')")
      .b-footer-steps__info
        .b-footer-steps__title Оформляй подписку и не плати за доставку!
        .b-footer-steps__text Заказывайте товары на дом с вашего смартфона в любой момент
    .b-footer-steps__step.b-ib(style="background-image: url('images/footer-step_3.jpg')")
      .b-footer-steps__info
        .b-footer-steps__title Самая быстрая доставка!
        .b-footer-steps__text Заказывайте товары на дом с вашего смартфона в любой момент
  .b-footer-wave
  .b-footer-bottom.b-ib-wrapper
    .b-footer-bottom__menu.b-ib
      h4.b-footer-bottom__title
        a(href="") О компании
      ul.b-footer-bottom__items
        li.b-footer-bottom__item
          a(href="") Партнерам
        li.b-footer-bottom__item
          a(href="") Работа в компании
        li.b-footer-bottom__item
          a(href="") Контакты
        li.b-footer-bottom__item
          a(href="") Новости
    .b-footer-bottom__menu.b-ib
      h4.b-footer-bottom__title
        a(href="") Покупателям
      ul.b-footer-bottom__items
        li.b-footer-bottom__item
          a(href="") Блог разработчиков
        li.b-footer-bottom__item
          a(href="") Как заказать
        li.b-footer-bottom__item
          a(href="") Доставка и оплата
        li.b-footer-bottom__item
          a(href="") Рецепты
    .b-footer-bottom__info.b-ib
      h4.b-footer-bottom__title
        a(href="tel:+74952456781") +7 (495) 245-67-81
      .b-footer-bottom__text Круглосуточно вы можете оформить заказ по телефону или получить ответы на любые интересующие вас вопросы.
    .b-footer-bottom__info.b-ib
      h4.b-footer-bottom__title
        a(href="mailto:client-utkonos@utkonos.ru") client-utkonos@utkonos.ru
      .b-footer-bottom__text
        | Есть вопрос? Напишите нам письмо или воспользуйтесь 
        a(href="#") формой обратной связи
include popup.jade