//-jade header2.jade
<!-- Header -->
header.b-header
  .b-header__top.b-ib-wrapper
    .b-header__logo.b-ib
      a(href="")
        img(src="images/logo.png" alt="")
    .b-header-search.b-ib
      form
        .b-header-search__left.b-header-search__left_p.b-ib
          .b-header-popup__top-left.b-header-popup__search_wrap.b-ib
            .b-header-popup__filter.b-header-popup__filter_search.b-ib
              .b-header-popup__filter-select.b-header-popup__filter-select_catalog.b-ib
                select.b-custom-select.js-custom-select
                  option(selected="selected" value="Поиск") Поиск
                  option(value="Ашан") Ашан
                  option(value="Кабачек") Кабачек
        .b-header-search__center.b-ib
          input.b-header-search__input(type="text" placeholder="Например, говядина для шашлыка, 3 кг" value="")
        .b-header-search__right.b-ib
          button.b-button.b-button_green Найти
    .b-header-user.b-ib
      .b-header-user__avatar.b-ib
        a(href="")
         img(src="images/demo/header-avatar.jpg")
      .b-header-user__name.b-ib
        | Здравствуйте, 
        .cabinet__acc.b-ib
          a.b-header-user__name-link(href="") Сергей
          .cabinet__wrap
            ul.profile__menu
              li
                a.profile__link(href="") Профиль
              li
                a.profile__link(href="") Подписка
              li
                a.profile__link(href="") Исстория заказов
              li
                a.profile__link(href="") Выход
      .b-header-user__exit.b-ib
        a.b-header-user__exit-btn(href="")
  .b-header-main.b-ib-wrapper
    .b-header-main__left.b-ib
      nav.b-nav.b-ib
        .b-nav__item.b-nav__item_subitems.b-ib
          a.b-nav__link(href="catalog.html") Каталог товаров
          .b-header-popup.b-ib-wrapper.b-header-popup_menu
            .b-header-popup__wrapper.b-header-popup__wrapper_reset
              .b-menu__left.b-ib
                ul.ulmart__menu
                  li.menu__item
                    a(href="").menu__link Молочные продукты
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Кондитерские изделия
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Детские товары
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Напитки, соки
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Хлебобулочные изделия
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Овощи, грибы...
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Бакалея
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Мясная гастрономия
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Мясо и птица
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Замороженные продукты
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Рыба, морепродукты...
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Заправки, соусы...
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Чай, кофе, какао
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Товары для животных
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Консервированные ...
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Бытовая химия и тов...
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Косметика и гигиена
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Электротовары
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                  li.menu__item
                    a(href="").menu__link Канцелярские товары
                    ul.menu__sub.bg__class
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание
                      li.sub__menu__item
                        a.sub__menu__link(href="") Диетические продукты
                      li.sub__menu__item
                        a.sub__menu__link(href="") Овощи, зелень, грибы
                      li.sub__menu__item
                        a.sub__menu__link(href="") Молочные продукты, мороженое
                      li.sub__menu__item
                        a.sub__menu__link(href="") Подарочные корзины
                      li.sub__menu__item
                        a.sub__menu__link(href="") Детское питание               
        .b-nav__item.b-nav__item_subitems.b-ib
          a.b-nav__link(href="shops.html") Магазины
        .b-nav__item.b-nav__item_subitems.b-ib
          a.b-nav__link(href="rest.html") Рестораны
        .b-nav__item.b-nav__item_subitems.b-ib
          a.b-nav__link(href="rec.html") Рецепты
    .b-header-main__right.b-ib
      .b-header-location.b-ib
        .b-header-location__current.b-ib
          | Москва 10069
        button.b-button.b-header-location__change 
          |  Сменить адрес 
      .b-header-cart.b-ib
        | В корзине 
        a(href="") 6 товаров, 1 560 руб