doctype
html(lang='ru')
  include head.jade
  body
    #b-layout
      .b-wrapper
        include header.jade
        .b-main-slider
          .b-main-slider__slider.js-main-slider
            .b-main-slider__item.js-main-slider-item
              .b-main-slider__item-bg(style="background-image: url('images/demo/main-slider-1.jpg')")
              img(src="images/demo/main-slider-1_img.png").b-main-slider__item-img
              .b-main-slider-info
                .b-main-slider-info__subtitle Только летом
                .b-main-slider-info__title Гриль, шашлык и барбекю <br> – вот, что летом я люблю!
                  a(href="").b-main-slider-info__btn Перейти в каталог
            .b-main-slider__item.js-main-slider-item
              .b-main-slider__item-bg(style="background-image: url('images/demo/main-slider-2.jpg')")
              img(src="images/demo/main-slider-2_img.png").b-main-slider__item-img
              .b-main-slider-info.b-main-slider-info_black
                .b-main-slider-info__subtitle Только весной
                .b-main-slider-info__title Йогурт активиа <br> – вот, что весной я люблю!
                a(href="").b-main-slider-info__btn Перейти в каталог
        .b-main-sections.b-ib-wrapper
          .b-main-sections__section.b-ib#section-1
            .b-main-sections__title Магазины
            .b-main-sections__items.b-ib-wrapper
              a(href="").b-main-sections__item.b-ib
                img(src="images/demo/main-sections_karusel.jpg" alt='')
              .b-main-sections__item.b-main-sections__item_disabled.b-ib
                img(src="images/demo/main-sections_magnit.jpg" alt='')
                .b-main-sections__disabled недоступно <br> по вашему индексу
              .b-main-sections__item.b-main-sections__item_disabled.b-ib
                g(src="images/demo/main-sections_auchan.jpg" alt="")
                .b-main-sections__disabled недоступно <br> по вашему индексу
              a(href="").b-main-sections__item.b-ib
                img(src="images/demo/main-sections_karusel.jpg" alt='')
              a(href="").b-main-sections__item.b-main-sections__item_active.b-ib
                img(src="images/demo/main-sections_magnit.jpg" alt='')
              a(href="").b-main-sections__item.b-ib
                img(src="images/demo/main-sections_auchan.jpg" alt="")
            .b-main-sections__more
              button.b-button.js-toggle-class(data-toggle-element="#section-1" data-toggle-class="open")
          .b-main-sections__section.b-ib#section-2
            .b-main-sections__title Рестораны
            .b-main-sections__items.b-ib-wrapper
              a(href="").b-main-sections__item.b-ib
                img(src="images/demo/main-sections_karusel.jpg" alt='')
              a(href="").b-main-sections__item.b-main-sections__item_active.b-ib
                img(src="images/demo/main-sections_magnit.jpg" alt='')
              a(href="").b-main-sections__item.b-ib
                img(src="images/demo/main-sections_auchan.jpg" alt="")
              a(href="").b-main-sections__item.b-ib
                img(src="images/demo/main-sections_karusel.jpg" alt='')
              .b-main-sections__item.b-main-sections__item_disabled.b-ib
                img(src="images/demo/main-sections_magnit.jpg" alt='')
                .b-main-sections__disabled недоступно <br> по вашему индексу
              .b-main-sections__item.b-main-sections__item_disabled.b-ib
                img(src="images/demo/main-sections_auchan.jpg" alt="")
                .b-main-sections__disabled недоступно <br> по вашему индексу
            .b-main-sections__more
              button.b-button.js-toggle-class(data-toggle-element="#section-2" data-toggle-class="open")
        .b-main-products
          .b-products-block.b-ib-wrapper
            .b-products-block-top.b-ib-wrapper
                .b-products-block-top__left.b-ib
                    .b-products-block-top__title
                      <span class="b-icon_hot"></span>
                      | Популярные товары
                .b-products-block-top__right.b-ib
                  a(href="").b-button.b-button_show Смотреть все
            .b-products-block-tabs.b-ib-wrapper.js-tabs(data-tabs-wrapper="#mainTabs")
              .b-products-block-tabs__item.b-ib.js-tab(data-tab='#tab-1')
                img(src="images/demo/main-sections_karusel.jpg" alt="")
                .b-products-block-tabs__item-arrow
              .b-products-block-tabs__item.b-ib.js-tab(data-tab='#tab-2')
                img(src="images/demo/main-sections_magnit.jpg" alt="")
                .b-products-block-tabs__item-arrow
              .b-products-block-tabs__item.b-ib.js-tab.active(data-tab='#tab-1')
                img(src="images/demo/main-sections_auchan.jpg" alt="")
                .b-products-block-tabs__item-arrow
              .b-products-block-tabs__item.b-ib.js-tab(data-tab='#tab-2')
                img(src="images/demo/main-sections_karusel.jpg" alt="")
                .b-products-block-tabs__item-arrow
              .b-products-block-tabs__item.b-ib.js-tab(data-tab='#tab-1')
                img(src="images/demo/main-sections_magnit.jpg" alt="")
                .b-products-block-tabs__item-arrow
              .b-products-block-tabs__item.b-ib.js-tab(data-tab='#tab-2')
                img(src="images/demo/main-sections_auchan.jpg" alt="")
                .b-products-block-tabs__item-arrow
              .b-products-block-tabs__item.b-ib.js-tab(data-tab='#tab-1')
                img(src="images/demo/main-sections_karusel.jpg" alt="")
                .b-products-block-tabs__item-arrow
              .b-products-block-tabs__item.b-ib.js-tab(data-tab='#tab-2')
                img(src="images/demo/main-sections_magnit.jpg" alt="")
                .b-products-block-tabs__item-arrow
              .b-products-block-tabs__item.b-ib.js-tab(data-tab='#tab-1')
                img(src="images/demo/main-sections_auchan.jpg" alt="")
                .b-products-block-tabs__item-arrow
              .b-products-block-tabs__item.b-ib.js-tab(data-tab='#tab-2')
                img(src="images/demo/main-sections_karusel.jpg" alt="")
                .b-products-block-tabs__item-arrow
              .b-products-block-tabs__item.b-ib.js-tab(data-tab='#tab-1')
                img(src="images/demo/main-sections_magnit.jpg" alt="")
                .b-products-block-tabs__item-arrow
            <!-- TODO: Микроразметка -->
            .b-products-block-tabs-content.b-tabs-wrapper.b-ib-wrapper#mainTabs
              .b-products-block-tabs-content__item.b-ib-wrapper.b-tabs-content.js-tab-content.active#tab-1
                .b-products-slider
                  .b-products-slider__slider.js-products-slider
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-1.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-2.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-3.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-1.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-2.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-3.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-1.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-2.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-3.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-1.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-2.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
                    .b-products-slider__item.js-products-slider-item
                      .b-product-preview.b-ib-wrapper
                        .b-product-preview__pic.b-ib
                          a(href="")
                            img(src="images/demo/product-preview-3.jpg" alt="")
                        .b-product-preview__name.b-ib
                          a(href="")
                            | Молоко кокосовое
                            | Suzi-Wan 200мл
                        .b-product-preview__price.b-ib
                          | 258 <span class="b-rouble">&#8381;</span>
                        .b-product-preview__buy.b-ib
                          form(action="")
                            .b-product-preview__count.b-ib
                              input(type="text" value='1').b-product-preview__input
                              button.b-button.b-button_plus +
                              button.b-button.b-button_minus –
                            .b-product-preview__incart.b-ib
                              button(type="submit").b-button.b-button_green В корзину
              .b-products-block-tabs-content__item.b-ib-wrapper.b-tabs-content.js-tab-content#tab-2
                .b-products-slider
                  .b-products-slider__slider.js-products-slider
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-2.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-1.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-4.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-2.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-1.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-3.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-2.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-1.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-3.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-2.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-1.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
                     .b-products-slider__item.js-products-slider-item
                       .b-product-preview.b-ib-wrapper
                         .b-product-preview__pic.b-ib
                           a(href="")
                             img(src="images/demo/product-preview-3.jpg" alt="")
                         .b-product-preview__name.b-ib
                           a(href="")
                             | Молоко кокосовое
                             | Suzi-Wan 200мл
                         .b-product-preview__price.b-ib
                           | 258 <span class="b-rouble">&#8381;</span>
                         .b-product-preview__buy.b-ib
                           form(action="")
                             .b-product-preview__count.b-ib
                               input(type="text" value='1').b-product-preview__input
                               button.b-button.b-button_plus +
                               button.b-button.b-button_minus –
                             .b-product-preview__incart.b-ib
                               button(type="submit").b-button.b-button_green В корзину
        .b-main-category.b-ib-wrapper
          .b-main-category__title.b-title_h4 Категории
          .b-main-category-items
            .b-main-category-items__row
              .b-main-category-items__item.b-main-category-items__item_55
                .b-main-category__pic(style="left: 5%; top: 50px;")
                    img(src="images/demo/main-sections_1.jpg" alt="")
                .b-main-category-list.b-main-category-list_offset_40.b-ib-wrapper
                  h4.b-main-category-list__title
                    a(href="") Продукты питания
                  ul.b-main-category-list__block.b-ib
                    li.b-main-category-list__item
                      a(href="") Молочные продукты, мороженое
                    li.b-main-category-list__item
                      a(href="") Подарочные корзины
                    li.b-main-category-list__item
                      a(href="") Детское питание
                    li.b-main-category-list__item
                      a(href="") Диетические продукты
                    li.b-main-category-list__item
                      a(href="") Овощи, фрукты, зелень, грибы
                  ul.b-main-category-list__block.b-ib
                    li.b-main-category-list__item
                      a(href="") Бакалея
                    li.b-main-category-list__item
                      a(href="") Заправки, соусы, приправы
                    li.b-main-category-list__item
                      a(href="") Консервированные продукты
                    li.b-main-category-list__item
                      a(href="") Кондитерские изделия
                    li.b-main-category-list__item
                      a(href="") Чай, кофе, какао
              .b-main-category-items__item.b-main-category-items__item_45
                .b-main-category__pic(style="bottom: 10px; right: 0;")
                  img(src="images/demo/main-sections_2.jpg" alt="")
                .b-main-category-list
                  h4.b-main-category-list__title
                    a(href="") Бытовая химия
                  ul.b-main-category-list__block
                    li.b-main-category-list__item
                      a(href="") Мясная гастрономия
                    li.b-main-category-list__item
                      a(href="") Рыбная гастрономия
                    li.b-main-category-list__item
                      a(href="") Мясо, птица, рыба и морепродукты
                    li.b-main-category-list__item
                      a(href="") Готовые блюда и кулинария
                    li.b-main-category-list__item
                      a(href="") Яйцо
            .b-main-category-items__row
              .b-main-category-items__item.b-main-category-items__item_55
                .b-main-category__pic(style="right: 0; bottom: 0;")
                  img(src="images/demo/main-sections_3.jpg" alt="")
                .b-main-category-list.b-ib-wrapper
                  h4.b-main-category-list__title
                    a(href="") Детские товары
                  ul.b-main-category-list__block.b-ib
                    li.b-main-category-list__item
                      a(href="") Молочные продукты, мороженое
                    li.b-main-category-list__item
                      a(href="") Подарочные корзины
                    li.b-main-category-list__item
                      a(href="") Детское питание
                    li.b-main-category-list__item
                      a(href="") Диетические продукты
                    li.b-main-category-list__item
                      a(href="") Овощи, фрукты, зелень, грибы
                  ul.b-main-category-list__block.b-ib
                    li.b-main-category-list__item
                      a(href="") Бакалея
                    li.b-main-category-list__item
                      a(href="") Заправки, соусы, приправы
                    li.b-main-category-list__item
                      a(href="") Консервированные продукты
                    li.b-main-category-list__item
                      a(href="") Кондитерские изделия
                    li.b-main-category-list__item
                      a(href="") Чай, кофе, какао
              .b-main-category-items__item.b-main-category-items__item_45
                .b-main-category__pic(style="bottom: 0; right: 0;")
                    img(src="images/demo/main-sections_4.jpg" alt="")
                .b-main-category-list
                  h4.b-main-category-list__title
                    a(href="") Косметика и гигиена
                  ul.b-main-category-list__block
                    li.b-main-category-list__item
                      a(href="") Мясная гастрономия
                    li.b-main-category-list__item
                      a(href="") Рыбная гастрономия
                    li.b-main-category-list__item
                      a(href="") Мясо, птица, рыба и морепродукты
                    li.b-main-category-list__item
                      a(href="") Готовые блюда и кулинария
                    li.b-main-category-list__item
                      a(href="") Яйцо
            .b-main-category-items__row
              .b-main-category-items__item.b-main-category-items__item_40
                .b-main-category__pic(style="right: 10px; bottom: 20px;")
                  img(src="images/demo/main-sections_5.jpg" alt="")
                pb-main-category-list.b-ib-wrapper
                  h4.b-main-category-list__title
                    a(href="") Зоомагазин
                  ul.b-main-category-list__block.b-ib
                    li.b-main-category-list__item
                      a(href="") Продукты, напитки
                    li.b-main-category-list__item
                      a(href="") Красота и здоровье
                    li.b-main-category-list__item
                      a(href="") Одежда, белье, бандажи
                    li.b-main-category-list__item
                      a(href="") Товары для прогулок и поездок
              .b-main-category-items__item.b-main-category-items__item_40
                .b-main-category__pic(style="right: 20px; bottom: 10px;")
                  img(src="images/demo/main-sections_6.jpg" alt="")
                .b-main-category-list.b-ib-wrapper
                  h4.b-main-category-list__title
                    a(href="") Электротовары
                  ul.b-main-category-list__block.b-ib
                    li.b-main-category-list__item
                      a(href="") Продукты, напитки
                    li.b-main-category-list__item
                      a(href="") Красота и здоровье
                    li.b-main-category-list__item
                      a(href="") Мясо, птица, рыба и морепродукты
                    li.b-main-category-list__item
                      a(href="") Товары для прогулок и поездок
                    li.b-main-category-list__item
                      a(href="") Яйцо
              .b-main-category-items__item.b-main-category-items__item_20
                .b-main-category-list.b-ib-wrapper
                  h4.b-main-category-list__title
                    a(href="") Остальное
                  ul.b-main-category-list__block.b-ib
                    li.b-main-category-list__item
                      a(href="") Продукты, напитки
                    li.b-main-category-list__item
                      a(href="") Красота и здоровье
                    li.b-main-category-list__item
                      a(href="") Мясо, птица, рыба и морепродукты
                    li.b-main-category-list__item
                      a(href="") Товары для прогулок и поездок
                    li.b-main-category-list__item
                      a(href="") Яйцо
        include footer.jade
    include popup.jade
    include scripts.jade