doctype
html(lang='ru')
  include head.jade
  body
    #b-layout
      .b-wrapper
        include header2.jade
        .b-catalog.b-ib-wrapper
          .b-catalog__left.b-ib-wrapper
            .b-sidebar__delivery.b-sidebar__deliver_bg
              .b-delivery__content
                .b-img-wrapper.b-img-title Косметика
              .b-delivery__close Ближайшая доставка: 
                span 15:00-17:00
              .b-delivery__interval
                a(href="").b-button.b-button_delivery Все интервалы
                a(href="").b-button.b-button_delivery Дополнительно
            .b-sidebar__catalog-wrapper
              .b-sidebar__catalog.b-sidebar__catalog_white
                .b-catalog__favorite
                  ul.catalog__acordion.catalog__acordion_makeup-icons
                    li.catalog__list 
                      a(href="#").catalog__title.result__item Товары со скидками
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list 
                      a(href="#").catalog__title.result__item Акции
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list 
                      a(href="#").catalog__title.result__item Избранное
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Макияж для лица
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Макияж для глаз
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Макияж для губ
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Макияж для ногтей
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Уход за лицом
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Уход за руками
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Уход за ногами
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Уход за телом
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Уход за волосами
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
          .b-catalog__right.b-ib-wrapper
            .b-catalog__ashan
              .b-main__grid
                .b-grid__row.b-ib-wrapper.b-grid-icons-5
                  .b-grid__left.b-ib
                    .b-grid__col
                      span.b-grid__layer.b-grid__layer_blue
                      .b-grid__menu.b-grid__menu_left
                        .b-grid__title
                          a(href="").b-grid__title__link.b-grid__i1 Макияж для лица
                        ul.b-grid__ul
                          li.b-grid__item
                            a(href="").b-grid__link Молочные продукты, мороженое
                          li.b-grid__item
                            a(href="").b-grid__link Подарочные корзины
                          li.b-grid__item
                            a(href="").b-grid__link Детское питание
                          li.b-grid__item
                            a(href="").b-grid__link Диетические продукты
                      img(src="images/row-1-5.jpg", alt="").row__img
                  .b-grid__right.b-ib
                    .b-grid__col
                      span.b-grid__layer.b-grid__layer_orange
                      img(src="images/row-2-5.jpg", alt="").row__img
                      .b-grid__menu
                        .b-grid__title
                          a(href="").b-grid__title__link.b-grid__i2 Макияж для глфз
                    .b-grid__col
                      span.b-grid__layer.b-grid__layer_green
                      img(src="images/row-3-5.jpg", alt="").row__img
                      .b-grid__menu
                        .b-grid__title
                          a(href="").b-grid__title__link.b-grid__i3 Макияж для губ
                    .b-grid__col
                      span.b-grid__layer.b-grid__layer_soft
                      img(src="images/row-4-5.jpg", alt="").row__img
                      .b-grid__menu
                        .b-grid__title
                          a(href="").b-grid__title__link.b-grid__i6 Макияж для ногтей
                .b-grid__row.b-ib-wrapper.b-grid-icons-6
                  .b-grid__left.b-ib
                    .b-grid__col
                      span.b-grid__layer.b-grid__layer_blue
                      .b-grid__menu.b-grid__menu_left
                        .b-grid__title
                          a(href="").b-grid__title__link.b-grid__i1 Уход за лицом
                        ul.b-grid__ul
                          li.b-grid__item
                            a(href="").b-grid__link Молочные продукты, мороженое
                          li.b-grid__item
                            a(href="").b-grid__link Подарочные корзины
                          li.b-grid__item
                            a(href="").b-grid__link Детское питание
                          li.b-grid__item
                            a(href="").b-grid__link Диетические продукты
                      img(src="images/row-1-6.jpg", alt="").row__img
                  .b-grid__right.b-ib
                    .b-grid__col
                      span.b-grid__layer.b-grid__layer_orange
                      img(src="images/row-2-6.jpg", alt="").row__img
                      .b-grid__menu
                        .b-grid__title
                          a(href="").b-grid__title__link.b-grid__i2 Уход за руками
                    .b-grid__col
                      span.b-grid__layer.b-grid__layer_green
                      img(src="images/row-3-6.jpg", alt="").row__img
                      .b-grid__menu
                        .b-grid__title
                          a(href="").b-grid__title__link.b-grid__i3 Уход за ногами
                    .b-grid__row.b-ib-wrapper
                      .b-grid__col.b-ib
                        span.b-grid__layer.b-grid__layer_soft
                        img(src="images/row-4-6.jpg", alt="").row__img
                        .b-grid__menu.b-grid__menu_top
                          .b-grid__title
                            a(href="").b-grid__title__link.b-grid__i4 Уход за телом
                      .b-grid__col.b-ib
                        span.b-grid__layer.b-grid__layer_dark
                        img(src="images/row-5-6.jpg", alt="").row__img
                        .b-grid__menu.b-grid__menu_top
                          .b-grid__title
                            a(href="").b-grid__title__link.b-grid__i5 Уход за волосами
              .b-main-products
                .b-ib-wrapper.b-id-wrapper_shadow
                  .b-products-block-top.b-ib-wrapper
                      .b-products-block-top__left.b-ib
                          .b-products-block-top__title
                            <span class="b-icon_hot"></span>
                            | Популярные товары
                      .b-products-block-top__right.b-ib
                        a(href="").b-button.b-button_show Смотреть все
                  <!-- TODO: Микроразметка -->
                  .b-products-slider
                    .b-products-slider__slider.js-products-slider-2
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-6.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-5.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-7.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-6.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-5.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-7.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-6.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-5.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-7.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-6.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-5.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
                      .b-products-slider__item.js-products-slider-item
                        .b-product-preview.b-ib-wrapper.b-product-preview_ashan
                          .b-product-preview__pic.b-ib
                            a(href="")
                              img(src="images/demo/product-preview-7.jpg" alt="")
                          .b-product-preview__name.b-ib
                            a(href="")
                              | Молоко кокосовое
                              | Suzi-Wan 200мл
                          .b-product-preview__price.b-ib
                            | 258 <span class="b-rouble">&#8381;</span>
                          .b-product-preview__buy.b-ib
                            form(action="")
                              .b-product-preview__count.b-ib
                                input(type="text" value='1').b-product-preview__input
                                button.b-button.b-button_plus +
                                button.b-button.b-button_minus –
                              .b-product-preview__incart.b-ib
                                button(type="submit").b-button.b-button_green В корзину
        include footer.jade
    //- include popup.jade
    include scripts.jade