doctype
html(lang='ru')
  include head.jade
  body.bg-img
    #b-layout.bg-none
      .b-wrapper
        .order-wrapper
          .order__50
            .order1-wrapper
              .order1__head
                span.callback.b-ib Обратный звонок
                a(href="tel:+74956498570").b-ib.callback__link +7 (495) 
                  span 649-85-70
              .order1__logo
                a(href="").b-ib
                  img(src="images/ash.png", alt="")
                a(href="").b-ib.b-button.check__back Вернуться на главную
              span.order1__title Получить бесплатную доставку
              .order1__present
                .present-wrapper
                  .present__row
                    span.p-1.b-ib
                    span.present_span.b-ib Получите неограниченное число бесплатных доставок! Попробуйте нашу подписку
                  button.b-button.b-button_green.b-button_check.b-button_big Оформить подписку
              .order1__footer © Интернет-гипермаркет «Утконос». Все права защищены.
          .order__50
            .b-popup.b-popup-card.b-popup-order
              .b-popup-check
                .order__tabs
                  a(href="order.html").step Шаг 1
                  a(href="order2.html").step Шаг 2
                  a(href="order3.html").step.active_step Шаг 3
                .check__title.check__title_m Завершение
                .check__total-items
                  .check__total.check__total_m Итого: 6540 &#8381
                  .check__del
                    span Курьерская доставка по адресу:
                    span Пушкина, д 13, квартира 1, этаж 3, индекс 420090
                  .check__friends
                    .check__total Итого:  
                      span 3 товара на сумму 2 650
                      span.check-rub &#8381
                    .check__total Доставка курьером 
                      span 2 650
                      span.check-rub &#8381
                .order1__form
                  form(action="")
                    label.form__label 
                      input(type="text",placeholder='Промокод').form__input.form__input_middle
                      .lable__tooltip
                        span.tooltip__content.animated.zoomIn Хитроумные механизмы и примитивное электричество, удивительная атмосфера стимпанка и квестов Myst, уникальные в Казани аудиовизуальные эффекты и оригинальный сюжет. ... kk-kazan@mail.ru.
                    label.form__label 
                      input(type="text",placeholder='Комментарии к заказу').form__input.form__input_middle
                button.b-button.b-button_back.b-button_big  Назад
                button.b-button.b-button_green.b-button_check.b-button_big Завершить
    include scripts.jade