doctype
html(lang='ru')
  include head.jade
  body
    #b-layout
      .b-wrapper
        include header.jade
        .b-catalog.b-ib-wrapper
          .b-catalog__left.b-ib-wrapper
            .b-sidebar__catalog-wrapper
              .b-sidebar__catalog.b-sidebar__catalog_white
                .b-catalog__favorite.b-catalog__favorite_rec
                  ul.catalog__acordion.catalog__acordion_new-icons
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Продукты питания
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Бытовая химия
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Детские товары
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Косметика и гигиена
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Зоомагазин
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Электротовары
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Остальное
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
          .b-catalog__right.b-ib-wrapper
            .b-content__bread
              ul.b-bread
                li.bread__list
                  a.bread__item(href="") Главная
                li.bread__list
                  a.bread__item(href="") Продукты
                li.bread__list
                  a.bread__item(href="") Вост кухня
                li.bread__list Кабачки
            .b-rec__header.b-ib-wrapper
              .b-rec__col__63.b-ib
                .b-rec-wrap-link__top
                  img(src="images/rec7.jpg", alt="")
              .b-rec__col__37.b-ib
                .b-rec__descr 
                  .head__rate 
                    .big__rate
                      input(type="radio", name="rating", value="5")#rating5
                      label(for="rating5")
                      input(type="radio", name="rating", value="4")#rating4
                      label(for="rating4")
                      input(type="radio", name="rating", value="3")#rating3
                      label(for="rating3")
                      input(type="radio", name="rating", value="2")#rating2
                      label(for="rating2")
                      input(type="radio", name="rating", value="1")#rating1
                      label(for="rating1")
                    span.rate__text оценка пользователей
                  h1.rec__h1 Мидии в пивном соусе по-бельгийски
                  p.rec__text Баноффи — английский десерт Однажды меня угостили десертом, который невозможно было
                  .prep__main.prep__main_rec
                    ul.b-ib
                      li Подготовление 15 минут
                      li Приготовление 2 часа
                  ul.socials
                    li.social__item
                      a.social__link.fb(href="")
                    li.social__item
                      a.social__link.vk(href="")
                    li.social__item
                      a.social__link.tw(href="")
                    li.social__item
                      a.social__link.yt(href="")
                    li.social__item
                      a.social__link.yd(href="")
                  .favourite__print
                    a(href="").favourite В избранное
                    a(href="").print Распечатать  
            .b-blog__col.b-rec__col__63
              .b-blog__rec-content
                .b-rec__text Осенью у меня просыпается особая страсть к печенью, потому что можно уже чай пить в больших количествах, но ещё не так холодно, когда требуешь от десерта чего-то более серьезного. И, как я всегда говорю, печеньем удобно угощать: завернули в бумагу, пакет, коробку, стакан и на те «Приятного чаепития, Иван Фёдорович, кстати, а что там с моим повышением?». Вкуснее печенья, может быть только печенье с орехами, и что бы я вам ни говорил, знайте, что более сильной любви, чем с арахисом, у меня не было. А как это волшебно, хрустеть круглыми сладкими шайбочками с солёным арахисом, аромат которого почувствуют даже соседи. Всё?! Нет! Вкуснее печенья с орехами, может быть печенье с кремовой прослойкой. Это я ещё в детстве понял, намазывая половинки маслом с джемом или сахаром. И вот здесь Джек-Пот. Мой новый белоснежный крем — то, что доктор прописал. Мне даже первые минуты было жалко есть эти шедевры, но оказалось, что никакие музеи не хотят выставлять их на экспозицию, поэтому пришлось есть. Если есть черный чай с чабрецом — ну что, я думаю вы узнаете, что такое рай на земле.
                img(src="images/art.jpg", alt="").b-blog__art-img
                .b-blog__text
                  span.blog__circle.b-ib 1
                  p.b-ib.blog__p Первым делом в чашу миксера насыпаем два вида сахара по 100 грамм (белый+тростниковый). Можно взять 200 любого из них, но смеси всегда вкуснее, согласны? Следом мягкое сливочное масло (100 гр, жирность 82% и никак не ниже).
                img(src="images/art1.jpg", alt="").b-blog__art-img
                .b-blog__text
                  span.blog__circle.b-ib 2
                  p.b-ib.blog__p Первым делом в чашу миксера насыпаем два вида сахара по 100 грамм (белый+тростниковый). Можно взять 200 любого из них, но смеси всегда вкуснее, согласны? Следом мягкое сливочное масло (100 гр, жирность 82% и никак не ниже).
                img(src="images/art3.jpg", alt="").b-blog__art-img
                .b-blog__text
                  span.blog__circle.b-ib 3
                  p.b-ib.blog__p Первым делом в чашу миксера насыпаем два вида сахара по 100 грамм (белый+тростниковый). Можно взять 200 любого из них, но смеси всегда вкуснее, согласны? Следом мягкое сливочное масло (100 гр, жирность 82% и никак не ниже).
              .b-blog__form
                .b-blog__comment 
                  .b-blog__form-title Комментарии
                    .b-blog__user-comment
                      .b-blog__name.b-ib-wrapper
                        .col__1.b-ib 
                          span.autor__name Купер Денис:  6 сентября 2015
                        .col__2.b-ib 
                          ul.rate.small__rate
                            li.small__rate__item.active__star
                              span.small__rate__link
                            li.small__rate__item.active__star
                              span.small__rate__link
                            li.small__rate__item.active__star
                              span.small__rate__link
                            li.small__rate__item.active__star
                              span.small__rate__link
                            li.small__rate__item
                              span.small__rate__link
                      .b-blag__comment-area
                        p.comment__text <span>Достоинства:</span> Пункт самовывоза находится в центре Москвы в 5 минутах ходьбы от метро , хорошее и быстрое обслуживание 
                        p.comment__text <span>Недостатки:</span> Не было
                        p.comment__text <span>Комментарий:</span> Вежливый менеджер по телефону забронировал мне товар ,sennheiser mx 170 две штуки , на следующий день товар уже был в пункте самовывоза
                    .b-blog__user-comment
                      .b-blog__name.b-ib-wrapper
                        .col__1.b-ib 
                          span.autor__name Купер Денис:  6 сентября 2015
                        .col__2.b-ib 
                          ul.rate.small__rate
                            li.small__rate__item.active__star
                              span.small__rate__link
                            li.small__rate__item
                              span.small__rate__link
                            li.small__rate__item
                              span.small__rate__link
                            li.small__rate__item
                              span.small__rate__link
                            li.small__rate__item
                              span.small__rate__link
                      .b-blag__comment-area
                        p.comment__text <span>Достоинства:</span> Пункт самовывоза находится в центре Москвы в 5 минутах ходьбы от метро , хорошее и быстрое обслуживание 
                        p.comment__text <span>Недостатки:</span> Не было
                        p.comment__text <span>Комментарий:</span> Вежливый менеджер по телефону забронировал мне товар ,sennheiser mx 170 две штуки , на следующий день товар уже был в пункте самовывоза
                .b-blog__form-title Оставить комментарий
                form(action="")
                  input.form__input.for__input_rec(type="text", placeholder='Ваше имя')
                  .form__rate
                    .big__rate-wrap 
                      .big__rate
                        input(type="radio", name="rating", value="5")#rating5
                        label(for="rating5")
                        input(type="radio", name="rating", value="4")#rating4
                        label(for="rating4")
                        input(type="radio", name="rating", value="3")#rating3
                        label(for="rating3")
                        input(type="radio", name="rating", value="2")#rating2
                        label(for="rating2")
                        input(type="radio", name="rating", value="1")#rating1
                        label(for="rating1")
                      span.rate__text ваша оценка
                  textarea.form__textarea(name="message", placeholder='Ваш камментарий')
                  button.b-button.b-button_green Оставить комментарий
            .b-blog__col.b-rec__sidebar
              .b-rec__col
                .b-content__block.b-ib-wrapper
                  b-products-block-top.b-products-block__rec.b-products-block-top.b-ib-wrapper
                    .b-ib
                        .b-products-block-top__title
                          <span class="b-icon_hot"></span>
                          | Ингредиенты
                .b-rec__cont
                  .b-table 
                    table
                      tr
                        td Сметана (жирная)
                        td 0.75 стакана
                      tr
                        td Зеленый лук
                        td пучок
                      tr
                        td Дижонская горчица
                        td 3 ст.л.
                      tr
                        td Зернистая горчица
                        td 1 т.л.
                      tr
                        td Эстрагон
                        td 1 ст.л.
                      tr
                        td Сливочное масло
                        td 3 ст.л.
                      tr
                        td Зубчики чеснока
                        td 4 шт
                      tr
                        td Тимьян сушеный
                        td 1 ст.л.
                      tr
                        td Мидии
                        td 1 кг
                      tr
                        td Крупный помидор
                        td 1 шт
                      tr
                        td Бельгийское пиво
                        td 0.5 л
                      tr
                        td Соль
                        td по вкусу
                      tr
                        td Свежемолотый перец
                        td по вкусу
                      tr
                        td Петрушка
                        td пучок
                  button.b-button.b-button_green Купить все ингредиенты из списка
              .b-rec__col
                .b-content__block.b-ib-wrapper
                  b-products-block-top.b-products-block__rec.b-products-block-top.b-ib-wrapper
                    .b-ib
                        .b-products-block-top__title
                          <span class="b-icon_hot"></span>
                          | Избранное
                .b-rec__cont.b-rec__cont_small
                  ul.top__rec
                    li.top__rec__item
                      a(href="").top__rec__link
                        img(src="images/rec10.jpg", alt="").top__rec__img
                        span.top__rec__text Мидии в пивном соусе по бельгийски
                    li.top__rec__item
                      a(href="").top__rec__link
                        img(src="images/rec10.jpg", alt="").top__rec__img
                        span.top__rec__text Филе миньон из утки со смородиной
                    li.top__rec__item
                      a(href="").top__rec__link
                        img(src="images/rec10.jpg", alt="").top__rec__img
                        span.top__rec__text Крудо из кижуча по Аджарски
        include footer.jade
    include scripts.jade