doctype
html(lang='ru')
  include head.jade
  body
    #b-layout
      .b-wrapper
        include header.jade
        .b-catalog.b-ib-wrapper
          .b-catalog__left.b-ib-wrapper
            .b-sidebar__catalog-wrapper
              .b-sidebar__catalog.b-sidebar__catalog_white
                .b-catalog__favorite.b-catalog__favorite_rec
                  ul.catalog__acordion.catalog__acordion_new-icons
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Продукты питания
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Бытовая химия
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Детские товары
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Косметика и гигиена
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Зоомагазин
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Электротовары
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                    li.catalog__list
                      a(href="#").catalog__title.catalog__title_grey.result__item Остальное
                      ul.catalog__sub
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                        li.catalog__item__sub 
                          a(href="").catalog__item Овощи, фрукты, зелень, грибы
                          ul.catalog__sub
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange 
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
                            li.catalog__item__sub.catalog__item__sub_orange
                              a(href="").catalog__item Овощи, фрукты, зелень, грибы
          .b-catalog__right.b-ib-wrapper
            .b-content__bread
              ul.b-bread
                li.bread__list
                  a.bread__item(href="") Главная
                li.bread__list
                  a.bread__item(href="") Продукты
                li.bread__list
                  a.bread__item(href="") Вост кухня
                li.bread__list Кабачки
            .b-catalog__content.b-ib
              .b-catalog__rec.b-ib-wrapper
                .b-grid__row.b-grid-rec
                  .b-grid__col
                    a(href="#").b-rec-wrap-link.b-rec-wrap-link__top
                      .b-rec__main-wrap
                        .b-rec__descr
                          .b-rec__descr-title Баноффи — английский десерт
                        p.rec__descr-text Баноффи — английский десерт Однажды меня угостили десертом, который невозможно было раскусить. Назывался он баноффи, и я сразу понял, что не люблю его, кто будет рад грызть не...
                        .prep__main
                          ul.b-ib
                            li Подготовление 15 минут
                            li Приготовление 2 часа
                      img.rec-img(src="images/rec.jpg", alt="")
                .b-grid__row.b-grid-rec.b-ib-wrapper
                  .b-grid__col.b-grid__50.b-ib
                    a(href="#").b-rec-wrap-link
                      .b-rec__desrc-wrap
                        .b-rec__descr
                          .b-rec__descr-title Сконы с избмом
                        ul.prep__time
                          li Подготовление 15 минут
                          li Приготовление 2 часа
                      img.rec-img(src="images/rec2.jpg", alt="")
                  .b-grid__col.b-grid__50.b-ib
                    a(href="#").b-rec-wrap-link
                      .b-rec__desrc-wrap
                        .b-rec__descr
                          .b-rec__descr-title Баноффи — английский десерт
                        ul.prep__time
                          li Подготовление 15 минут
                          li Приготовление 2 часа
                      img.rec-img(src="images/rec3.jpg", alt="")
                  .b-grid__col.b-grid__50.b-ib
                    a(href="#").b-rec-wrap-link
                      .b-rec__desrc-wrap
                        .b-rec__descr
                          .b-rec__descr-title Сконы с избюмом
                        ul.prep__time
                          li Подготовление 15 минут
                          li Приготовление 2 часа
                      img.rec-img(src="images/rec4.jpg", alt="")
                  .b-grid__col.b-grid__50.b-ib
                    a(href="#").b-rec-wrap-link
                      .b-rec__desrc-wrap
                        .b-rec__descr
                          .b-rec__descr-title Утка с яблоками и медом
                        ul.prep__time
                          li Подготовление 15 минут
                          li Приготовление 2 часа
                      img.rec-img(src="images/rec5.jpg", alt="")
            .page__nav-wrap.b-ib
              ul.page__nav
                li.nav__active
                  a(href="") 1
                li
                  a(href="") 2
                li
                  a(href="") 3
                li
                  a(href="") 4 
                li
                  a(href="") 5
                li
                  a(href="") Дальше
        include footer.jade
    //- include popup.jade
    include scripts.jade