//-jade scripts.jade
<!-- Scripts -->
script(src="libs/js/slick/slick.min.js")
script(src="libs/js/jscrollpane/jquery.mousewheel.js")
script(src="libs/js/jscrollpane/mwheelIntent.js")
script(src="libs/js/jscrollpane/jquery.jscrollpane.min.js")
script(src="libs/js/selectize/selectize.min.js")
script(src="libs/js/magnificPopup/jquery.magnific-popup.min.js")
script(src="js/common.js")
script(src="js/index.js")
//- script(src='js/script.js')